<div *ngIf='boss'>
  <div [ngSwitch]='boss.shortName'>
    <div *ngSwitchCase="'vg'">
      <app-strat-vg></app-strat-vg>
    </div>
    <div *ngSwitchCase="'gorse'">
      <app-strat-gorse></app-strat-gorse>
    </div>
    <div *ngSwitchCase="'sab'">
      <app-strat-sab></app-strat-sab>
    </div>
    <div *ngSwitchCase="'sloth'">
      <app-strat-sloth></app-strat-sloth>
    </div>
    <div *ngSwitchCase="'matt'">
      
    </div>
    <div *ngSwitchCase="'kc'">
      
    </div>
    <div *ngSwitchCase="'xera'">
      
    </div>
    <div *ngSwitchCase="'cairn'">
      
    </div>
    <div *ngSwitchCase="'mo'">
      
    </div>
    <div *ngSwitchCase="'sam'">
      
    </div>
    <div *ngSwitchCase="'dei'">
      
    </div>
    <div *ngSwitchCase="'desmina'">
      
    </div>
    <div *ngSwitchCase="'dhuum'">
      
    </div>
  </div>
</div>