.my-subnav{
    background-color: rgba(50,50,50,0.5);
}

.switcher-container {
    color:rgb(240,240,240);
    text-shadow: 0px 0px 2px black;
}

ul.sublist {
    list-style-type: circle;
}

a.acknowledge{
    color: rgb(100, 200, 250);
    text-shadow: 0px 0px 2px rgb(0,0,0);
}

.uk-list {
    width: 1100px;
    background-color: rgba(100,100,100,0.5);
    border: 4px solid rgba(100,100,100,0.5);
}
