
.char {
    width: 650px;
}

.charHeader {
    color: rgb(150, 150, 200);
    text-shadow: 0px 0px 1px rgb(0,0,0),0px 0px 4px rgb(0,0,0);
    border: 2px solid black;
}

a {
    color: rgb(150, 150, 200);
}
