<div *ngIf='boss'>
  <div [ngSwitch]='boss.shortName' class="my-mecs">
    <div *ngSwitchCase="'vg'">
      <app-strat-vg></app-strat-vg>
    </div>
    <div *ngSwitchCase="'gorse'">
      <app-strat-gorse></app-strat-gorse>
    </div>
    <div *ngSwitchCase="'sab'">
      <app-strat-sab></app-strat-sab>
    </div>
    <div *ngSwitchCase="'sloth'">
      <app-strat-sloth></app-strat-sloth>
    </div>
    <div *ngSwitchCase="'matt'">
      <app-strat-mat></app-strat-mat>
    </div>
    <div *ngSwitchCase="'kc'">
      <app-strat-kc></app-strat-kc>
    </div>
    <div *ngSwitchCase="'xera'">
      <app-strat-xera></app-strat-xera>
    </div>
    <div *ngSwitchCase="'cairn'">
      <app-strat-cairn></app-strat-cairn>
    </div>
    <div *ngSwitchCase="'mo'">
      <app-strat-mo></app-strat-mo>
    </div>
    <div *ngSwitchCase="'sam'">
      <app-strat-sam></app-strat-sam>
    </div>
    <div *ngSwitchCase="'dei'">
      <app-strat-dei></app-strat-dei>
    </div>
    <div *ngSwitchCase="'desmina'">
      <app-strat-ss></app-strat-ss>
    </div>
    <div *ngSwitchCase="'river'">
      <app-strat-river></app-strat-river>
    </div>
    <div *ngSwitchCase="'brking'">
      <app-strat-king></app-strat-king>
    </div>
    <div *ngSwitchCase="'sleater'">
      <app-strat-eater></app-strat-eater>
    </div>
    <div *ngSwitchCase="'dhuum'">
      <app-strat-dhuum></app-strat-dhuum>
    </div>
  </div>
</div>