<div class='uk-margin-large-top uk-flex uk-flex-middle uk-flex-column'>
  <ul class="uk-subnav uk-subnav-pill uk-subnav-divider my-subnav" uk-switcher="connect: .switcher-container">
    <div>
      <a href="#">Mécaniques de base</a>
    </div>
    <div>
      <a href="#">Split</a>
    </div>
    <div>
      <a href="#">Phase 1</a>
    </div>
    <div>
      <a href="#">Phase 2</a>
    </div>
    <div>
      <a href="#">Phase 3</a>
    </div>
  </ul>

</div>
<div class='uk-margin-left uk-margin-right'>
  <ul class="uk-switcher uk-margin switcher-container uk-flex uk-flex-center" [ngStyle]="style">
    <div class='uk-margin-left uk-margin-right'>
      <ul class="uk-list uk-list-divider">
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Split - </span> Le boss split à 66% et 33%.
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Magic Aura - </span> Aura qui enlève de la vie aux joueurs régulièrement.
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Unstable Magic Spike (Zone Bleue) - </span> Toutes les 9 secondes, explose 2 secondes après son apparation. Téléporte
          le joueur à un endroit aléatoire dans l'arène.
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Distributed Magic (Zone Verte) - </span> Toutes les 15 secondes, explose 5 secondes après son apparition, position
          aléatoire sur le secteur où se trouve le boss. Sur la stratégie classique, il faut 4 personnes (ni mortes, ni au
          sol) sur la zone verte sinon elle provoque des dégats catastrophiques au raid. Sur la stratégie "no green", on
          ignore cette mécanique, on encaisse et on se soigne.
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Spawn Seekers (Boules rouges) - </span> Toutes les 20 secondes, 3 à chaque pop, appararition en face des pylones.
          Orbe rouge qui se déplace vers les joueurs et qui fait très mal, peut être immobilisée ou repoussée.
        </li>
      </ul>
    </div>
    <div class='uk-margin-left uk-margin-right'>
      <ul class="uk-list uk-list-divider">
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Attunement - </span> Le joueur va se lier au pylone de son secteur, prenant des dommages lourds s'il se retrouve
          dans l'AoE d'un gardien d'un autre pylone.
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Bullet Storm (Boules blanches) - </span> Des boules de lumière vont pop un peu partout, provoquant des dommages
          légers au joueur les touchant. Si la boule atteint le gardien bleu, ce dernier devient invincible tant qu'il garde
          son buff.
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Guardien Bleu - </span> Gardien provoquant les zones vertes. Récupère un buff d'invincibilité au contact d'une
          boule blanche.
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Guardien Rouge - </span> Gardien invoquant les boules rouges. Ne prend que les dégats par altération.
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Guardien Vert - </span> Gardien provoquant les zones bleues. C'est une merde inutile.
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Séparation du raid - </span> 3 personnes sur le gardien rouge (au moins 2 dps condi). Le reste sur le gardien bleu,
          un joueur pouvant attaquer à distance pull le gardien vert sur le gardien bleu.
        </li>
      </ul>
    </div>
    <div class='uk-margin-left uk-margin-right'>
      <ul class="uk-list uk-list-divider">
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Tanking green - </span> Tanking au pylone bleu. Une équipe de 4 personnes + backup dédiée pour les zones vertes.
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Tanking no-green - </span> Tanking dans la zone du pylone bleu, proche du centre. Boss tourné vers le centre.
        </li>
      </ul>
    </div>
    <div class='uk-margin-left uk-margin-right'>
      <ul class="uk-list uk-list-divider">
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Magic Storm (Break Bar) - </span> Toutes les 30 sec. Le boss reste immobile et balance des AoE dans tous les sens.
          Il faut casser la barre le plus rapidement possible.
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Unstable Pylon (Secteur allumé) - </span> Un secteur, en partant du vert, va rester allumé pendant 20 secondes,
          endommageant les joueurs s'y trouvant. Suit le cycle vert - bleu - rouge.
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Tanking green - </span> Tanking sur la frontière rouge-bleu, vers le bord. On switch entre les secteurs rouge et
          bleu. Une équipe de 4 personnes + backup dédiée pour les zones vertes
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Tanking no-green - </span> Tanking sur la frontière rouge-bleu, vers le centre. On switch entre les secteurs rouge
          et bleu.
        </li>
      </ul>
    </div>
    <div class='uk-margin-left uk-margin-right'>
      <ul class="uk-list uk-list-divider">
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Magic Storm (Break Bar) - </span> Toutes les 30 sec. Le boss reste immobile et balance des AoE dans tous les sens.
          Il faut casser la barre le plus rapidement possible.
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Unstable Pylon (Secteur allumé) - </span> Deux secteurs, en partant du vert+bleu, vont rester allumés pendant 20
          secondes, endommageant les joueurs s'y trouvant. Suit le cycle vert+bleu - bleu+rouge - rouge+vert.
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Tanking green - </span> Tanking sur la frontière rouge-vert, à mi-chemin entre le centre et le bord. On tourne
          dans le sens de rotation des secteurs allumés, en conservant notre distance au centre. Une équipe de 4 personnes + backup dédiée pour les zones vertes
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Tanking no-green - </span> Tanking sur la frontière rouge-vert, au centre. On tourne dans le sens de rotation des
          secteurs allumés, en conservant notre distance au centre.
        </li>
      </ul>
    </div>
  </ul>
</div>