<div class='uk-margin-large-top uk-flex uk-flex-middle uk-flex-column'>
  <ul class="uk-subnav uk-subnav-pill uk-subnav-divider my-subnav" uk-switcher="connect: .switcher-container">
    <div>
      <a href="#">Mécaniques de base</a>
    </div>
    <div>
      <a href="#">Split</a>
    </div>
    <div>
      <a href="#">Phase 2</a>
    </div>
    <div>
      <a href="#">Phase 3</a>
    </div>
  </ul>

</div>
<div class='uk-margin-left uk-margin-right'>
  <ul class="uk-switcher uk-margin switcher-container uk-flex uk-flex-center">
    <div class='uk-margin-left uk-margin-right'>
      <ul class="uk-list uk-list-divider">
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Split - </span> Le boss split à 66% et 33%.
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Haunting Aura - </span> Aura qui enlève de la vie aux joueurs régulièrement.
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Tanking - </span> Tank devant le boss, les autres se mettent derrière.
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Ghastly Rampage (Breakbar) - </span> Le boss retourne au centre et commence à frapper le sol. Il renvoie environ
          780 points de dégat par coup reçu. Des zones noires sont créées autour du boss qui explosent, provoquant des dégats
          massifs aux joueurs se trouvant dessus et appliquent 25 stacks de vulnérabilité. Casser la breakbar met fin à cet
          état.
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Spectral Impact (Coup de poing au sol) - </span> Bump tous les joueurs recevant le coup. Applique 3 stacks de tourment.
          Peut être esquivé ou ignoré avec de la stabilité ou égide.
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>World Eater (AoE Arène) - </span> Wipe le raid, il faut faire phaser le boss avant qu'il finisse de cast.
        </li>
      </ul>
    </div>
    <div class='uk-margin-left uk-margin-right'>
      <ul class="uk-list uk-list-divider">
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Split - </span> Le boss retourne au centre et se met dans une bulle d'invincibilité. Quatre grands esprits apparaissent
          autour du boss (Nord-Est, Nort-Ouest, Sud-Est, Sud-Ouest) et se dirigent vers le boss. Tuer les 4 esprits provoquent
          la fin de la phase.
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>World Eater (AoE Arène) - </span> Wipe le raid, s'enclenche si un grand esprit atteint le boss, il faut /gg.
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Séparation du raid - </span> La team 1 s'occupe d'un côté, la team 2 de l'autre. Les druides (ou soulbeast) s'occupent
          d'immobiliser les esprits au besoin.
        </li>
      </ul>
    </div>
    <div class='uk-margin-left uk-margin-right'>
      <ul class="uk-list uk-list-divider">
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Spectral Darkness (Les orbes noires) - </span> Des orbes noires apparaissent
          sur l'arène et créent des zones qui s'élargissent. Si un joueur rentre dans cette zone, il récupère 10 stacks de
          debuff:
          <ul class="sublist">
            <li>10% de dps perdu par stack</li>
            <li>10% de dégat supplémentaire reçu par stack</li>
            <li>perte de 2k pv par seconde</li>
          </ul>
          Quand une orbe est détruite, 5 orbes petites orbes jaunes apparaissent et prendre une orbe enlève un stack de debuff.
        </li>
      </ul>
    </div>
    <div class='uk-margin-left uk-margin-right'>
      <ul class="uk-list uk-list-divider">
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Ghastly Prison (Les oeufs) - </span> Le boss va régulièrement (20-25 secondes)
          lancer des AoE oranges sous les pieds des joueurs. Ces AoE s'activent 2-3 secondes plus tard et emprisonnent le
          joueur. Peuvent être esquivés ou strafés.
        </li>
      </ul>
    </div>
  </ul>
</div>