<div class='uk-margin-large-top uk-flex uk-flex-middle uk-flex-column'>
  <ul class="uk-subnav uk-subnav-pill uk-subnav-divider my-subnav" uk-switcher="connect: .switcher-container">
    <div>
      <a href="#">Mécaniques de l'arène</a>
    </div>
    <div>
      <a href="#">Mécaniques de base</a>
    </div>
    <div>
      <a href="#">Split</a>
    </div>
    <div>
      <a href="#">Burst</a>
    </div>
  </ul>

</div>
<div class='uk-margin-left uk-margin-right'>
  <ul class="uk-switcher uk-margin switcher-container uk-flex uk-flex-center">
    <div class='uk-margin-left uk-margin-right'>
      <ul class="uk-list uk-list-divider">
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Big Phantasms - </span> Des grands phantasmes vont sortir des statues autour de l'arène et vont se fixer de manière
          aléatoire. Il faut les tuer à proximité du boss.
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Insidious Phantasms - </span> Si deux grands phantasmes se rencontrent, ils forment un phantasme majeur infligeant
          de lourds dégâts aux joueurs et enlevant les avantages.
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Radiant and Crimson Phantasms - </span> Des phantasmes colorés vont apparaître un peu partout sur l'arène (rouges
          et blancs). Les joueurs avec la bonne affinité doivent les détruire.
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Xera's Fury (Bombes) - </span> Tous les joueurs recoivent une bombe avec une zone très large. Provoque de lourds
          dégâts aux alliés.
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Hail of Fury - </span> Le boss saute et disparaît de l'arène. Des débris tombent du plafond durant cette période.
          Les joueurs touchés sont renversés pendant 1 seconde. Seulement durant la Phase 3.
        </li>
      </ul>
    </div>
    <div class='uk-margin-left uk-margin-right'>
      <ul class="uk-list uk-list-divider">
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Phase - </span> Le boss phase à 66% et 33%.
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Split - </span> Le boss split après chaque breakbar. Un split enlève les bombes et les phantasmes colorés.
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Tanking - </span> Le joueur avec le plus de robustesse.
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Aura - </span> Endommage les joueurs régulièrement.
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Tower Drop - </span> Le boss vise de manière aléatoire un joueur et lui saute dessus. Les joueurs touchés par le
          saut sont renversés pendant 3 secondes. Seulement durant les deux premières phases.
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Phantasmal Blades - </span> Le bosse devient immobile et créé une petit zone autour de lui. De plus il fait tourner
          des zones triangulaires autour de lui (+1 par phase). Ces zones infligent de lourds dégâts et appliquent confusion.
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Gaining Power - </span> Régulièrement le boss gagne un buff, qui stack, de 10% de dégâts directs et 3% de dégâts
          d'altérations.
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Xera's Embrace - </span> Quand le boss n'a plus de stack, sa breakbar apparait. Ces stacks s'enlèvent en tuant
          les grands phantasmes à proximité du boss.
        </li>
      </ul>
    </div>
    <div class='uk-margin-left uk-margin-right'>
      <ul class="uk-list uk-list-divider">
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Réduction de l'arène - </span> La taille de l'arène est réduite durant cette phase.
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Zones Vertes - </span> 3 zones vertes, 2 personnes par zone. La phase des failles commencent avec l'apparition
          du noyeau du boss.
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Failles - </span> 5 failles apparaissent autour de l'arène. Un joueur doit pousser le noyeau dans les failles.
          Le boss revient si les 5 failles sont faites, un add touche le noyau ou si le noyau sort de la zone réduite. Commence
          alors la phase Burst.
        </li>
      </ul>
    </div>
    <div class='uk-margin-left uk-margin-right'>
      <ul class="uk-list uk-list-divider">
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Burn - </span> Le boss revient avec un nombre de stack (entre 0 et 5) de debuff (+75% dégâts par stack) selon le
          nombre de faille faite. Le boss entame Magic Blast à la fin du burn.
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Magic Blast - </span> Le boss lève ses mains en l'air en préparation d'une explosion et des orbes colorées (blanches
          ou rouges) se déplacent vers lui. Les joueurs avec la bonne affinité doivent absorber ces orbes. Le boss gagne
          un stack qui augmente les dégâts de son explosion. Le boss change de phase et démarre avec Phantasmal Blades suite
          à l'explosion.
        </li>
      </ul>
    </div>
  </ul>
</div>