<div class='uk-margin-large-top uk-flex uk-flex-middle uk-flex-column'>
  <ul class="uk-subnav uk-subnav-pill uk-subnav-divider my-subnav" uk-switcher="connect: .switcher-container">
    <div>
      <a href="#">Mécaniques de l'arène</a>
    </div>
    <div>
      <a href="#">Mécaniques de boss</a>
    </div>
    <div>
      <a href="#">Champignons</a>
    </div>
  </ul>

</div>
<div class='uk-margin-left uk-margin-right'>
  <ul class="uk-switcher uk-margin switcher-container uk-flex uk-flex-center">
    <div class='uk-margin-left uk-margin-right'>
      <ul class="uk-list uk-list-divider">
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Arène - </span> L'arène est couverte de zone de poison verte. Les secteurs sont libérés en faisant un vermisseau
          manger les petits champignons. Un secteur libéré le reste pendant une minute.
          <div class="uk-flex uk-flex-column uk-flex-middle uk-flex-center uk-margin-left uk-margin-right uk-margin-top">
            <img src="assets/strats/sloth/pshroom.jpg">
            <p class="acknowledge">Merci à
              <a class="acknowledge" href="https://wiki.guildwars2.com/wiki/Salvation_Pass">GW2 Wiki</a> pour l'image.</p>
          </div>
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Gros Champignon - </span> Champignon qui transforme un joueur en vermisseau. Le joueur devra tracer un chemin en
          mangeant les petits champignons pour que le raid puisse avancer. En annulant sa transformation, le joueur va recevoir
          un debuff l'empêchant de manger un champignon pendant 45 secondes.
          <div class="uk-flex uk-flex-column uk-flex-middle uk-flex-center uk-margin-left uk-margin-right uk-margin-top">
            <img src="assets/strats/sloth/bshroom.jpg">
            <p class="acknowledge">Merci à
              <a class="acknowledge" href="https://wiki.guildwars2.com/wiki/Salvation_Pass">GW2 Wiki</a> pour l'image.</p>
          </div>
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Adds - </span> Toutes les 30 secondes, le boss va faire apparaitre des vermisseaux au centre de l'arène, ces adds
          lances des projectiles destructibles qui infligent des altération. A partir de 30% des vermisseaux évolués vont
          remplacer les vermisseaux classiques, les évolués ont plus de vie, leurs projectiles sont indestructibles et corrompent
          les avantages des joueurs. Il est important de les gérer correctement afin de ne pas être submergé.
        </li>
      </ul>
    </div>
    <div class='uk-margin-left uk-margin-right'>
      <ul class="uk-list uk-list-divider">
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Aura - </span> Possède une aura qui endommage régulèrement les joueurs.
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Fixation - </span> La fixation est aléatoire. Le joueur ayant la zone de poison ne peut être visée
          <div class="uk-flex uk-flex-column uk-flex-middle uk-flex-center uk-margin-left uk-margin-right uk-margin-top">
            <img src="assets/strats/sloth/fixation.jpg">
            <p class="acknowledge">Merci à
              <a class="acknowledge" href="http://dulfy.net/2016/03/15/gw2-slothasor-salvation-pass-raid-guide/">Dulfy</a> pour l'image.</p>
          </div>
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Breakbar - </span> Tous les 20% et le dernier 10%. Le boss s'arrête et il faut le stun pour qu'il rebouge. En se
          relevant, le boss va lancer fear sur tous le raid.
          <div class="uk-flex uk-flex-column uk-flex-middle uk-flex-center uk-margin-left uk-margin-right uk-margin-top">
            <img src="assets/strats/sloth/breakbar.jpg">
            <p class="acknowledge">Merci à
              <a class="acknowledge" href="http://dulfy.net/2016/03/15/gw2-slothasor-salvation-pass-raid-guide/">Dulfy</a> pour l'image.</p>
          </div>
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Volatile Poison (Zone de poison) - </span> Un joueur est sélectionné aléatoirement et reçoit une action spéciale
          qui dépose une zone de poison grandissante et infligeant des dégats catastrophiques aux joueurs. Lancer la compétence
          spéciale dans le coin de l'arène où le raid se trouve.
          <div class="uk-flex uk-flex-column uk-flex-middle uk-flex-center uk-margin-left uk-margin-right uk-margin-top">
            <img src="assets/strats/sloth/poison.jpg">
            <p class="acknowledge">Merci à
              <a class="acknowledge" href="http://dulfy.net/2016/03/15/gw2-slothasor-salvation-pass-raid-guide/">Dulfy</a> pour l'image.</p>
          </div>
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Tantrum (Coups de poing au sol) - </span> Le boss frappe le sol et provoque 3 AoE oranges consécutives sur tous
          les joueurs. Provoque un kd de 5 secondes et de lourds dommages. Ne pas bouger durant l'attaque et esquiver 3 secondes
          après le début.
          <div class="uk-flex uk-flex-column uk-flex-middle uk-flex-center uk-margin-left uk-margin-right uk-margin-top">
            <img src="assets/strats/sloth/tantrum.jpg">
            <p class="acknowledge">Merci à
              <a class="acknowledge" href="http://dulfy.net/2016/03/15/gw2-slothasor-salvation-pass-raid-guide/">Dulfy</a> pour l'image.</p>
          </div>
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Halitosis (Souffle de feu) - </span> Le boss fait un souffle de feu, infligeant lourds dommages et des stacks de
          brulure aux joueurs prenant l'attaque. Suffit de se mettre un peu sur le côté (fixation) ou derrière le boss (les
          autres) pour l'éviter.
          <div class="uk-flex uk-flex-column uk-flex-middle uk-flex-center uk-margin-left uk-margin-right uk-margin-top">
            <img src="assets/strats/sloth/flame.jpg">
            <p class="acknowledge">Merci à
              <a class="acknowledge" href="http://dulfy.net/2016/03/15/gw2-slothasor-salvation-pass-raid-guide/">Dulfy</a> pour l'image.</p>
          </div>
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Spore Release (Chiki) - </span> Le boss se secoue et lance des projectiles non destructibles autour de lui. Provoque
          de lourds dommages. Il suffit de reculer de 2 pas au début de l'attaque puis esquiver vers le boss.
        </li>
      </ul>
    </div>
    <div class='uk-margin-left uk-margin-right'>
      <ul class="uk-list uk-list-divider">
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Champi 1 - </span> Apparait à 7:00 et 3:40.
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Champi 2 - </span> Apparait à 6:10 et 2:50.
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Champi 3 - </span> Apparait à 5:20 et 2:00.
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Champi 4 - </span> Apparait à 4:30 et 1:10.
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Chemin à prendre -</span>
          <div class="uk-flex uk-flex-column uk-flex-middle uk-flex-center">
            <img src="assets/strats/slotshrooms.png">
            <p class="acknowledge">Merci à
              <a class="acknowledge" href="https://discord.gg/nZg52r3">The Crossroads Inn</a> pour l'image.</p>
          </div>
        </li>
      </ul>
    </div>
  </ul>
</div>