<body>
<h1>
    Les Liens Utiles</h1>
<h2>Addons</h2>
<ul>
    <span *ngFor="let addon of Addons">
        -
        <a href={{addon.ref}} target={{addon.target}}> {{addon.text}}</a>
    </span>
</ul>

<h2>Builds</h2>
<ul>
    <span *ngFor="let build of Builds">
        -
        <a href={{build.ref}} target={{build.target}}> {{build.text}}</a>
    </span>
</ul>


<h2>Strats</h2>
<ul>
    <span *ngFor="let strat of Strats">
        -
        <a href={{strat.ref}} target={{strat.target}}> {{strat.text}}</a>
    </span>
</ul>

<h2>Divers</h2>
<ul>
    <span *ngFor="let diver of Divers">
        -
        <a href={{diver.ref}} target={{diver.target}}> {{diver.text}}</a>
    </span>
</ul>
</body>