a[href] {
    color: #0202FF;
}


h1 {
    font-size: 5.5em;
    text-align: center;
    font-weight: bold;
    margin: 0;
    padding: 20px 0;
    color: #00539F;
    text-shadow: 3px 3px 1px black;
}

h2 {
    font-size: 3.5em;
    color: #22334F;
    font-weight: bold;
    text-decoration: underline;
}

span {
    font-size: 1.8em;
    line-height: 2;
    font-weight: bold;
    letter-spacing: 1px;
}
