
.build {
    color: #000000;
    border: 5px solid rgba(0, 0, 0, 0.8);
    background-color: rgba(50, 50, 50, 0.2);
}

.my-accordion-title {
    background-color: rgba(150, 150, 150, 0.8)
}

.armor {
    width: 130px;
}

.weapon {
    width: 300px;
}

.trinket {
    width: 200px;
}
