<div class="build" *ngIf="build">

    <div uk-accordion="collapsible: false">
        <li>
            <div class="uk-accordion-title my-accordion-title uk-text-bold uk-text-uppercase uk-text-middle">Aptitudes</div>
            <div id="traits" class="uk-accordion-content uk-flex uk-flex-column uk-flex-between uk-margin-large-left uk-margin-large-right" [innerHTML]='traits()'></div>
        </li>
        <li>
            <div class="uk-accordion-title my-accordion-title uk-text-bold uk-text-uppercase uk-text-middle">Compétences</div>
            <div class="uk-accordion-content uk-flex uk-flex-center uk-flex-column uk-flex-nowrap">
                <div id="profSkills" class="uk-flex uk-flex-center	uk-flex-middle uk-flex-row" [innerHTML]='profSkills()'></div>
                <div id="skills" class="uk-flex uk-flex-center	uk-flex-middle uk-flex-row" [innerHTML]='skills()'></div>
                <div id="pets" class="uk-flex uk-flex-center	uk-flex-middle uk-flex-row" [innerHTML]='pets()'></div>
            </div>
        </li>
        <li>
            <div class="uk-accordion-title my-accordion-title uk-text-bold uk-text-uppercase uk-text-middle">Equipement</div>
            <div class="uk-accordion-content uk-flex uk-flex-around uk-flex-middle uk-flex-nowrap uk-margin-large-left uk-margin-large-right">
                <li class="armor">
                    <div class="uk-text-bold uk-text-center uk-text-middle uk-text-large">Armure</div>
                    <div id="armor" class="uk-flex uk-flex-center uk-flex-row uk-flex-middle" [innerHTML]='armor()'></div>
                </li>

                <div class="uk-flex uk-flex-center uk-flex-column uk-flex-middle">
                    <li class="trinket">
                        <div class="uk-text-bold uk-text-center uk-text-middle uk-text-large">Bijoux</div>
                        <div id="trinket" class="uk-flex uk-flex-center uk-flex-middle uk-flex-column" [innerHTML]='trinket()'></div>
                    </li>
                    <div class="uk-divider-small"></div>
                    <li class="weapon">
                        <div class="uk-text-bold uk-text-center uk-text-middle uk-text-large">Armes</div>
                        <div class="uk-flex uk-flex-center">

                            <div>
                                <div *ngIf="build.wep2" class="uk-text-bold uk-text-center uk-text-middle uk-text-large">Set 1</div>
                                <div id="wep1" [innerHTML]='wep1()'></div>
                            </div>
                            <div *ngIf="build.wep2" class="uk-margin-left">
                                <div class="uk-text-bold uk-text-center uk-text-middle uk-text-large">Set 2</div>
                                <div id="wep2" [innerHTML]='wep2()'></div>
                            </div>

                        </div>
                    </li>
                </div>
            </div>
        </li>
        <li>
            <div class="uk-accordion-title my-accordion-title uk-text-bold uk-text-uppercase uk-text-middle">Consommables</div>
            <div id="consum" class="uk-accordion-content uk-flex uk-flex-center uk-flex-middle" [innerHTML]='consumables()'></div>
        </li>

    </div>






</div>