
.build {
    color: rgb(240,240,240);
    border-top: 1px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 1px solid black;
    text-shadow: 0px 0px 1px black, 0px 0px 4px black;
}

.my-accordion-title {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    transition: background-color 0.2s linear;
}

.armor {
    width: 130px;
}

.weapon {
    width: 300px;
}

.trinket {
    width: 200px;
}


.Elementalist .my-accordion-title{
    background-color: rgba(255, 50, 50, 0.6);
}

.Elementalist .my-accordion-title:hover{
    background-color: rgba(180, 0, 0, 0.6);
}


.Mesmer .my-accordion-title{
    background-color: rgba(150, 120, 165, 0.6);
}

.Mesmer .my-accordion-title:hover{
    background-color: rgba(150, 60, 200, 0.6);
}


.Necromancer .my-accordion-title{
    background-color: rgba(80, 170, 80, 0.6);
}

.Necromancer .my-accordion-title:hover{
    background-color: rgba(15, 105, 20, 0.6);
}

.Thief .my-accordion-title{
    background-color: rgba(130, 160, 180, 0.6);
}

.Thief .my-accordion-title:hover{
    background-color: rgba(40, 75, 95, 0.6);
}


.Ranger .my-accordion-title{
    background-color: rgba(140, 195, 95, 0.6);
}

.Ranger .my-accordion-title:hover{
    background-color: rgba(10, 160, 10, 0.6);
}

.Engineer .my-accordion-title{
    background-color: rgba(170, 125, 50, 0.6);
}

.Engineer .my-accordion-title:hover{
    background-color: rgba(150, 85, 15, 0.6);
}

.Warrior .my-accordion-title{
    background-color: rgba(210, 175, 90, 0.6);
}

.Warrior .my-accordion-title:hover{
    background-color: rgba(245, 150, 15, 0.6);
}

.Guardian .my-accordion-title{
    background-color: rgba(140, 215, 225, 0.6);
}

.Guardian .my-accordion-title:hover{
    background-color: rgba(45, 135, 160, 0.6);
}


.Revenant .my-accordion-title{
    background-color: rgba(165, 50, 50, 0.6);
}

.Revenant .my-accordion-title:hover{
    background-color: rgba(85, 10, 20, 0.6);
}
