<div *ngIf="build">
    <div [class]="build.profession.name">
        <div class="build">
            <div uk-accordion="collapsible: false">
                <span>
                    <div class="uk-accordion-title my-accordion-title uk-text-bold uk-text-uppercase uk-text-middle">
                        <span class="uk-margin-small-left">Aptitudes</span>
                    </div>
                    <div id="traits" class="uk-margin-bottom uk-accordion-content uk-flex uk-flex-column uk-flex-between uk-margin-large-left uk-margin-large-right"
                        [innerHTML]='traits()'></div>
                </span>
                <span>
                    <div class="uk-accordion-title my-accordion-title uk-text-bold uk-text-uppercase uk-text-middle">
                        <span class="uk-margin-small-left">Compétences</span>
                    </div>
                    <div class="uk-accordion-content uk-flex uk-flex-center uk-flex-column uk-flex-nowrap">
                        <div id="pets" class="uk-flex uk-flex-center uk-flex-middle uk-flex-row" [innerHTML]='pets()'></div>
                        <div id="profSkills" class="uk-flex uk-flex-center	uk-flex-middle uk-flex-row" [innerHTML]='profSkills()'></div>
                        <div id="skills" class="uk-flex uk-flex-center uk-flex-middle uk-flex-row" [innerHTML]='skills()'></div>
                    </div>
                </span>
                <span>
                    <div class="uk-accordion-title my-accordion-title uk-text-bold uk-text-uppercase uk-text-middle">
                        <span class="uk-margin-small-left">Equipement</span>
                    </div>
                    <div class="uk-accordion-content uk-flex uk-flex-around uk-flex-middle uk-flex-nowrap uk-margin-large-left uk-margin-large-right">
                        <span class="armor">
                            <div class="uk-text-bold uk-text-center uk-text-middle uk-text-large">Armure</div>
                            <div id="armor" class="uk-flex uk-flex-center uk-flex-row uk-flex-middle" [innerHTML]='armor()'></div>
                        </span>

                        <div class="uk-flex uk-flex-center uk-flex-column uk-flex-middle">
                            <span class="trinket">
                                <div class="uk-text-bold uk-text-center uk-text-middle uk-text-large">Bijoux</div>
                                <div id="trinket" class="uk-flex uk-flex-center uk-flex-middle uk-flex-column" [innerHTML]='trinket()'></div>
                            </span>
                            <div class="uk-divider-small"></div>
                            <span class="weapon">
                                <div class="uk-text-bold uk-text-center uk-text-middle uk-text-large">Armes</div>
                                <div class="uk-flex uk-flex-center">

                                    <div>
                                        <div *ngIf="build.wep2" class="uk-text-bold uk-text-center uk-text-middle uk-text-large">Set 1</div>
                                        <div id="wep1" [innerHTML]='wep1()'></div>
                                    </div>
                                    <div *ngIf="build.wep2" class="uk-margin-left">
                                        <div class="uk-text-bold uk-text-center uk-text-middle uk-text-large">Set 2</div>
                                        <div id="wep2" [innerHTML]='wep2()'></div>
                                    </div>

                                </div>
                            </span>
                        </div>
                    </div>
                </span>
                <span>
                    <div class="uk-accordion-title my-accordion-title uk-text-bold uk-text-uppercase uk-text-middle">
                        <span class="uk-margin-small-left">Consommables</span>
                    </div>
                    <div id="consum" class="uk-accordion-content uk-flex uk-flex-center uk-flex-middle" [innerHTML]='consumables()'></div>
                </span>

            </div>
        </div>

    </div>
</div>