<div *ngIf='builds'>
  <div class='uk-flex uk-flex-column uk-margin-large-top uk-margin-large-bottom'>
    <div class='uk-flex uk-flex-column '>
      <div *ngIf="selectedBuild" (click)="onSelect(null)" [class.selected]="true" [ngClass]='getClass()'>
        <span class='my-text-large uk-text-bold'>{{selectedBuild.name}}</span>
      </div>

      <div *ngIf="!selectedBuild" [class.selected]="true" [ngClass]='getClass()'>
        <span class='my-text-large uk-text-bold'>Build sélectionné</span>
      </div>
      <div class="uk-flex uk-flex-center uk-margin-top">
        <div>
          <input [(ngModel)]="filter" (click)="onSelect(null)" class="my-search my-search-input uk-text-bold" placeholder="">
        </div>
      </div>


    </div>
    <div class="my-scrollable-panel uk-margin-top">
      <div class="uk-flex uk-flex-row">
        <div class="build-selector">
          <div *ngFor="let build of (builds | dbSearch: filter)" (click)="onSelect(build)" [class.selected]="selectedBuild && build.id === selectedBuild.id"
            [ngClass]='getClass()'>
            <span class='my-text-large uk-text-bold'>{{build.name}}</span>
          </div>
        </div>

        <div *ngIf="selectedBuild" class='variant-selector uk-margin-left'>
          <div *ngFor="let override of selectedBuildOverrides" (click)="onSelectOverride(override)" [class.selected]="selectedOverride === override"
            [ngClass]='getClass()'>
            <span class='my-text-large uk-text-bold'>{{override}}</span>
          </div>
        </div>

      </div>


    </div>
  </div>
</div>