<div class='uk-margin-large-top uk-flex uk-flex-middle uk-flex-column'>
  <ul class="uk-subnav uk-subnav-pill uk-subnav-divider my-subnav" uk-switcher="connect: .switcher-container">
    <div>
      <a href="#">Mécaniques de l'arène</a>
    </div>
    <div>
      <a href="#">Mécaniques de base</a>
    </div>
    <div>
      <a href="#">Split</a>
    </div>
  </ul>

</div>
<div class='uk-margin-left uk-margin-right'>
  <ul class="uk-switcher uk-margin switcher-container uk-flex uk-flex-center">
    <div class='uk-margin-left uk-margin-right'>
      <ul class="uk-list uk-list-divider">
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Inevitable Betrayal - </span> A partir de la phase 2, deux joueurs seront sélectionnés de manière aléatoire. Ils
          doivent s'éloigner du raid et se mettre côte à côte. L'explosion inflige de lourds dégâts au raid. Si les joueurs
          choisis ne sont pas côt à côté, le joueur avec la grosse AoE est mis au sol.
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Spear Impact - </span> Des lances tombent régulièrement sur l'arène. Elles ont une zone autour qui inflige des
          dégâts et taunt. Peuvent être détruites.
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Soul Swarm - </span> L'arène est entourée par des pics mortels (40% de l'hp par seconde).
        </li>
      </ul>
    </div>
    <div class='uk-margin-left uk-margin-right'>
      <ul class="uk-list uk-list-divider">
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Phase - </span> Le boss phase à 66% et 33%.
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Brutal Aura - </span> Aura qui endommage régulièrement les joueurs.
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Breakbar/Brutalize - </span> Tous les 10%. Freeze la fixation actuelle et lui inflige de lours dégâts. Se termine
          quand la breakbar est cassée ou que la fixation est morte.
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Fixation - </span> Le boss se fixe sur le joueur le plus éloigné.
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Shockwave - </span> Provoque une puissante onde de choc qui peut expulser les joueurs de l'arène.
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Prisoner Sweep - </span> Double swing devant le boss qui provoque un puissant lancement.
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Bludgeon - </span> Le boss donne un coup puissant devant lui, inflige de lourds dégâts et un kd. A partir de la
          phase 2.
        </li>
      </ul>
    </div>
    <div class='uk-margin-left uk-margin-right'>
      <ul class="uk-list uk-list-divider">
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Jotun - </span> Possède un bouclier qui transfert les dégâts reçus à l'humain. Il perd son bouclier si l'humain
          explose sur le boss, on peut ensuite lui enlever 33% de sa vie avant qu'il ne regagne son bouclier.
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Humain - </span> Les dégâts infligés au jotun lui sont transférés pendant que ce premier a son bouclier. A
          sa mort, il explose, provoquant de lourds dommages aux joueurs se trouvant dans l'explosion. S'il
          meurt sur le boss, le jotun perd son bouclier. Il est immortel tant que le jotun est vivant.
        </li>
      </ul>
    </div>
  </ul>
</div>