<h1 class="uk-text-center uk-text-bold">
  Les Builds
</h1>

<div class="uk-margin-large-left uk-margin-large-right uk-flex uk-flex-center uk-flex-wrap uk-flex-middle uk-margin-bottom">
  <div class='my-grid'>

    <div *ngFor="let profession of professions" class="uk-inline uk-margin-small-left uk-margin-small-right uk-margin-top uk-margin-bottom uk-transition-toggle">
      <span (click)="onSelect(profession)" [class.selected]="selectedProfession && selectedProfession.name === profession.name"
        class="selector uk-border-rounded class-selector uk-flex uk-flex-around uk-background-cover uk-flex-middle " [ngStyle]='profession.getStyle()'
        [ngClass]='profession.getClass()'>
        <div class="my-button-title uk-text-bold uk-text-center uk-transition-fade">
          {{profession.name | uppercase}}
        </div>

      </span>
    </div>
  </div>
</div>

<div *ngIf='selectedProfession'>
  <app-db-display [profName]="selectedProfession.name" [builds]="selectedProfession.builds"></app-db-display>
</div>