

ul div button { 
    background-color: rgba(150, 150, 150, 0.5);
  }

  .disclaimer {
    color: black;
}

.disclaimer a {
    color: rgb(50, 50, 100);
}

iframe {
    border: 2px solid rgb(50, 50, 50);
}
