<div *ngIf="boss">
  <ul class="logs">
    <h3>Les try</h3>
    <div *ngFor="let log of boss.logs">
      <span (click)="display(log)">
        Afficher les logs du {{log.date}}
      </span>
      <iframe [id]='log.id' width="0" height="0" src='about:blank' frameborder="0" style="display:none"> </iframe>
    </div>

  </ul>

  <p class='disclaimer'>Tous les logs ont été créés par
    <a href="https://www.deltaconnected.com/arcdps/">ArcDPS</a> et parsés par
    <a href="https://raidheroes.tk/">Raid Heroes</a>.</p>

</div>