<div class='uk-margin-large-top uk-flex uk-flex-middle uk-flex-column'>
  <ul class="uk-subnav uk-subnav-pill uk-subnav-divider my-subnav" uk-switcher="connect: .switcher-container">
    <div>
      <a href="#">Mécaniques de l'arène</a>
    </div>
    <div>
      <a href="#">Mécaniques de base</a>
    </div>
    <div>
      <a href="#">Phase 1</a>
    </div>
    <div>
      <a href="#">Phase 2</a>
    </div>
    <div>
      <a href="#">Phase 3</a>
    </div>
    <div>
      <a href="#">Les orbes</a>
    </div>
    <div>
      <a href="#">Adds</a>
    </div>
    <div>
      <a href="#">Timings</a>
    </div>
  </ul>

</div>
<div class='uk-margin-left uk-margin-right'>
  <ul class="uk-switcher uk-margin switcher-container uk-flex uk-flex-center">
    <div class='uk-margin-left uk-margin-right'>
      <ul class="uk-list uk-list-divider">
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Deathly Aura - </span> Aura qui endommage les joueurs.
        </li>
      </ul>
    </div>
    <div class='uk-margin-left uk-margin-right'>
      <ul class="uk-list uk-list-divider">
      </ul>
    </div>
    <div class='uk-margin-left uk-margin-right'>
      <ul class="uk-list uk-list-divider">
      </ul>
    </div>
    <div class='uk-margin-left uk-margin-right'>
      <ul class="uk-list uk-list-divider">
      </ul>
    </div>
    <div class='uk-margin-left uk-margin-right'>
      <ul class="uk-list uk-list-divider">
      </ul>
    </div>
    <div class='uk-margin-left uk-margin-right'>
      <ul class="uk-list uk-list-divider">
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Soul Siphon - </span> La lumière blanche au centre tue tout de suite. Elle aspire constamment le joueur vers elle.
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Orbes - </span> Il faut manger 5 orbes rouges pour revenir. Essayez de manger une grande orbe sinon un Enforcer
          va apparaître. Si aucune grande orbe n'est mangée, prévenir le raid.
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Mouvement - </span> Le mouvement est plan, ne vous faîtes pas avoir, toutes les orbes ne sont pas à votre niveau.
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Conseil - </span> Il se peut qu'il n'y ait pas d'orbes dans votre quadran, pour vous déplacer rapidement, avancer
          vers le mur puis foncer dans l'autre sens en contourant le siphon. Ce dernier va vous faire gagner en vitesse.
        </li>
      </ul>
    </div>
    <div class='uk-margin-left uk-margin-right'>
      <ul class="uk-list uk-list-divider">
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Adds - </span>
          <div class="uk-flex uk-flex-column uk-flex-middle uk-flex-center">
            <img src="assets/strats/dhuumspawns.jpg">
            <p>Merci à
              <a class="acknowledge" href="https://wiki.guildwars2.com/wiki/Hall_of_Chains#The_Voice_in_the_Void">GW2 Wiki</a> pour l'image.</p>
          </div>
        </li>
      </ul>
    </div>
    <div class='uk-margin-left uk-margin-right'>
      <ul class="uk-list uk-list-divider">
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Timings - </span>
          <div class="uk-flex uk-flex-column uk-flex-middle uk-flex-center">
            <img src="assets/strats/dhuumpattern.png">
            <p>Merci à
              <a class="acknowledge" href="https://wiki.guildwars2.com/wiki/Hall_of_Chains#The_Voice_in_the_Void">GW2 Wiki</a> pour l'image.</p>
          </div>
        </li>
      </ul>
    </div>
  </ul>
</div>