
h1 {
    color: #00539F;
    text-shadow: 2px 2px 2px black;
    font-size: 75px;
}

h2 {
    color: #2283AF;
    text-shadow: 2px 2px 2px black;
}


.selector.selected {  
  outline-color: rgba(255,255,255,0.8);
  outline-offset: 4px ;
  outline-width: 3px !important; 
}
.selector {
  cursor: pointer;    
  transition: box-shadow 0.3s linear, outline-color 0.3s linear, outline-offset 0.3s linear, outline-width 0.1s linear;
  outline-width: 1px;
  outline-style: ridge;
  outline-color: rgba(0,0,0,0);
  outline-offset: 10px ;
}
.selector:hover {
  box-shadow: 0px 3px 4px rgba(255,255,255,0.5),3px 0px 4px rgba(255,255,255,0.5),-3px 0px 4px rgba(255,255,255,0.5),0px -3px 4px rgba(255,255,255,0.5);
}

.switcher {
  height: 100px;
  width: 250px;
}

.bosses {
  height: 128px;
  width: 128px;
}

.my-button-title {
  color:white;
  text-shadow: 0px 0px 1px black, 0px 0px 4px black, 0px 0px 10px black;
}