<h1 class="uk-text-center uk-text-bold">
  Les Boss de raids
</h1>

<ul *ngIf="bosses.length > 0">
  <div class="uk-flex uk-flex-wrap uk-margin-top">
    <div *ngFor="let boss of bosses" class="uk-margin-top uk-margin-small-left uk-margin-small-right uk-transition-toggle">
      <span (click)="onSelect(boss)" class="uk-border-rounded selector bosses uk-background-center-center uk-flex uk-flex-around uk-flex-middle"
        [class.selected]="boss === selectedBoss" [ngStyle]="boss.style">
        <div class="my-button-title uk-text-bold uk-text-center uk-transition-fade">
          {{boss.buttonName | uppercase}}
        </div>
      </span>
    </div>
  </div>

</ul>

<hr class="uk-divider-icon">

<div *ngIf="selectedBoss">
  <h2 class="uk-text-center uk-text-bold">{{ selectedBoss.displayName | uppercase }}</h2>
  <div class='uk-flex uk-flex-center uk-flex-middle uk-margin-top'>
    <span (click)="onSelectDisplay('compo')" [class.selected]="selectedDisplay === 'compo'" [ngStyle]="compoStyle" class="uk-transition-toggle uk-border-rounded selector switcher uk-background-center-center uk-flex uk-flex-around uk-flex-middle uk-margin-small-right uk-margin-small-left">
      <div class="my-button-title uk-text-bold uk-text-center uk-transition-fade">
        Composition
      </div>
    </span>
    <!--<span (click)="onSelectDisplay('logs')" [class.selected]="selectedDisplay === 'logs'" [ngStyle]="logsStyle" class="uk-transition-toggle uk-border-rounded selector switcher uk-background-center-center uk-flex uk-flex-around uk-flex-middle uk-margin-small-right uk-margin-small-left">
      <div class="my-button-title uk-text-bold uk-text-center uk-transition-fade">
        Logs
      </div>
    </span>-->
    <span (click)="onSelectDisplay('strat')" [class.selected]="selectedDisplay === 'strat'" [ngStyle]="stratStyle" class="uk-transition-toggle uk-border-rounded selector switcher uk-background-center-center uk-flex uk-flex-around uk-flex-middle uk-margin-small-right uk-margin-small-left">
      <div class="my-button-title uk-text-bold uk-text-center uk-transition-fade">
        Mécaniques
      </div>
    </span>
  </div>
  <div [ngSwitch]="selectedDisplay">
    <div *ngSwitchCase="'compo'">
      <app-composition-detail [boss]="selectedBoss"></app-composition-detail>
    </div>
    <!--<div *ngSwitchCase="'logs'">
      <app-logs-detail [boss]="selectedBoss"></app-logs-detail>
    </div>-->
    <div *ngSwitchCase="'strat'">
      <app-strat [boss]="selectedBoss"></app-strat>
    </div>
  </div>


</div>
<a href="#" style="background-color: rgba(250,250,250,0.4)" uk-totop uk-scroll title="retour top" uk-tooltip></a>