
h1 {
    color: #00539F;
    text-shadow: 2px 2px 2px black;
}

h2 {
    color: #2283AF;
    text-shadow: 2px 2px 2px black;
}


span.selected {  
  box-shadow: 0px 6px 10px rgba(0,30,0,0.7),6px 0px 10px rgba(0,30,0,0.7),-6px 0px 10px rgba(0,30,0,0.7),0px -6px 10px rgba(0,30,0,0.7)   !important;
}
.selector span {
  cursor: pointer;    
  color: rgba(0, 0, 0, 0.8);
  height: 100px;
  width: 250px;
  border-radius: 10%;
}
span:hover {
  box-shadow: 0px 3px 4px rgba(30,0,0,0.5),3px 0px 4px rgba(30,0,0,0.5),-3px 0px 4px rgba(30,0,0,0.5),0px -3px 4px rgba(30,0,0,0.5);
}

.bosses div span {
    cursor: pointer;    
    height: 128px;
    width: 128px;
    border-radius: 15%;
  }
.my-button-title {
  color: white;  
  text-shadow: 0px 0px 1px black, 0px 0px 4px black;
}