<div class='uk-margin-large-top uk-flex uk-flex-middle uk-flex-column'>
  <ul class="uk-subnav uk-subnav-pill uk-subnav-divider my-subnav" uk-switcher="connect: .switcher-container">
    <div>
      <a href="#">Mécaniques de l'arène</a>
    </div>
    <div>
      <a href="#">Phase 1</a>
    </div>
    <div>
      <a href="#">Phase 2</a>
    </div>
    <div>
      <a href="#">Phase 3</a>
    </div>
    <div>
      <a href="#">Les orbes</a>
    </div>
    <div>
      <a href="#">Adds</a>
    </div>
    <div>
      <a href="#">Timings</a>
    </div>
  </ul>

</div>
<div class='uk-margin-left uk-margin-right'>
  <ul class="uk-switcher uk-margin switcher-container uk-flex uk-flex-center">
    <div class='uk-margin-left uk-margin-right'>
      <ul class="uk-list uk-list-divider">
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Deathly Aura - </span> Aura qui endommage les joueurs.
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Faucheurs - </span> 7 PNJ à protéger durant le combat. Ils se font attaquer par les adds.

          <div class="uk-flex uk-flex-column uk-flex-middle uk-flex-center">
            <img src="assets/strats/dh/reaper.jpg">
            <p class="acknowledge">Merci à
              <a class="acknowledge" href="http://dulfy.net/2017/12/05/gw2-dhuum-raid-boss-guide/">Dulfy</a> pour l'image.</p>
          </div>
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Zone Verte - </span> Zone verte qui pop sous les faucheurs, permet de monter et chercher des orbes. Toutes les
          30 secondes. Cf timings.
          <div class="uk-flex uk-flex-column uk-flex-middle uk-flex-center">
            <img src="assets/strats/dh/green.jpg">
            <p class="acknowledge">Merci à
              <a class="acknowledge" href="http://dulfy.net/2017/12/05/gw2-dhuum-raid-boss-guide/">Dulfy</a> pour l'image.</p>
          </div>
        </li>
      </ul>
    </div>
    <div class='uk-margin-left uk-margin-right'>
      <ul class="uk-list uk-list-divider">
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Préparation - </span> Dure 2 minutes. Il faut tourner autour de la salle en nettoyant les adds et s'occupant de
          zones vertes. A la fin des 2 minutes, le boss arrive.
        </li>
      </ul>
    </div>
    <div class='uk-margin-left uk-margin-right'>
      <ul class="uk-list uk-list-divider">
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Death Mark - </span> Pose une AoE au sol, au contact avec un joueur, ce dernier se sépare de son âme et tous ses
          avantages sont transférés au boss. Cf timings.
          <div class="uk-flex uk-flex-column uk-flex-middle uk-flex-center">
            <img src="assets/strats/dh/mark.jpg">
            <p class="acknowledge">Merci à
              <a class="acknowledge" href="http://dulfy.net/2017/12/05/gw2-dhuum-raid-boss-guide/">Dulfy</a> pour l'image.</p>
          </div>
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Greater Death Mark - </span> Le boss se téléporte au centre, sépare tous les joueurs de leur âme, vole tous les
          avantages et commence à aspirer les joueurs vers le centre. La zone autour du boss provoque des dégats catastrophiques.
          Cf timings.
          <div class="uk-flex uk-flex-column uk-flex-middle uk-flex-center">
            <img src="assets/strats/dh/gmark.jpg">
            <p class="acknowledge">Merci à
              <a class="acknowledge" href="http://dulfy.net/2017/12/05/gw2-dhuum-raid-boss-guide/">Dulfy</a> pour l'image.</p>
          </div>
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Putrid Bomb - </span> Régulièrement un joueur va être choisi pour exploser. Les dégats infligés aux joueurs sont
          inversément proportionnels à la distance entre l'explosion et les joueurs. Le joueur choisi doit donc s'éloigner
          au maximum du raid.
          <div class="uk-flex uk-flex-column uk-flex-middle uk-flex-center">
            <img src="assets/strats/dh/bomb.jpg">
            <p class="acknowledge">Merci à
              <a class="acknowledge" href="http://dulfy.net/2017/12/05/gw2-dhuum-raid-boss-guide/">Dulfy</a> pour l'image.</p>
          </div>
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Impact - </span> Le boss donne un coup de faux au sol. Du point d'impact, le sol commence à se fissurer. Les fissures
          infligent de lourd dégats et provoquent un fear de longue durée (10 sec+).
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Soul Shackle - </span> A partir de 60%. Régulièrement deux joueurs vont être chainés l'un contre l'autre. Il faut qu'ils partent
          dans deux sens opposés afin de briser la chaine. La chaine inflige de lourd dégats.
          <div class="uk-flex uk-flex-column uk-flex-middle uk-flex-center">
            <img src="assets/strats/dh/shack.jpg">
            <p class="acknowledge">Merci à
              <a class="acknowledge" href="http://dulfy.net/2017/12/05/gw2-dhuum-raid-boss-guide/">Dulfy</a> pour l'image.</p>
          </div>
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Scythe Slash - </span> A partir de 30%. Attaque en cône qui inflige de lorud dégats.
          <div class="uk-flex uk-flex-column uk-flex-middle uk-flex-center">
            <img src="assets/strats/dh/swing.jpg">
            <p class="acknowledge">Merci à
              <a class="acknowledge" href="http://dulfy.net/2017/12/05/gw2-dhuum-raid-boss-guide/">Dulfy</a> pour l'image.</p>
          </div>
        </li>
      </ul>
    </div>
    <div class='uk-margin-left uk-margin-right'>
      <ul class="uk-list uk-list-divider">
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Orb - </span> Tous le raid doit aller chercher des orbes.
          <div class="uk-flex uk-flex-column uk-flex-middle uk-flex-center">
            <img src="assets/strats/dh/lastorb.jpg">
            <p class="acknowledge">Merci à
              <a class="acknowledge" href="http://dulfy.net/2017/12/05/gw2-dhuum-raid-boss-guide/">Dulfy</a> pour l'image.</p>
          </div>
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Fin - </span> Dhuum se met dans une bulle au centre, il faut intéragir avec les emplacements des faucheurs à peu
          près en même temps et revenir dans la bulle pour attaquer le boss. A répeter jusqu'à sa mort. Les joueurs en dehors
          de la bulle perdent rapidement de la vie.
          <div class="uk-flex uk-flex-column uk-flex-middle uk-flex-center">
            <img src="assets/strats/dh/end.jpg">
            <p class="acknowledge">Merci à
              <a class="acknowledge" href="http://dulfy.net/2017/12/05/gw2-dhuum-raid-boss-guide/">Dulfy</a> pour l'image.</p>
          </div>
        </li>
      </ul>
    </div>
    <div class='uk-margin-left uk-margin-right'>
      <ul class="uk-list uk-list-divider">
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Soul Siphon - </span> La lumière blanche au centre tue tout de suite. Elle aspire constamment le joueur vers elle.
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Orbes - </span> Il faut manger 5 orbes rouges pour revenir. Essayez de manger une grande orbe sinon un Enforcer
          va apparaître. Si aucune grande orbe n'est mangée, prévenir le raid.
          <div class="uk-flex uk-flex-column uk-flex-middle uk-flex-center">
            <img src="assets/strats/dh/orb.jpg">
            <p class="acknowledge">Merci à
              <a class="acknowledge" href="http://dulfy.net/2017/12/05/gw2-dhuum-raid-boss-guide/">Dulfy</a> pour l'image.</p>
          </div>
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Mouvement - </span> Le mouvement est plan, ne vous faîtes pas avoir, toutes les orbes ne sont pas à votre niveau.
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Conseil - </span> Il se peut qu'il n'y ait pas d'orbes dans votre quadran, pour vous déplacer rapidement, avancer
          vers le mur puis foncer dans l'autre sens en contourant le siphon. Ce dernier va vous faire gagner en vitesse.
        </li>
      </ul>
    </div>
    <div class='uk-margin-left uk-margin-right'>
      <ul class="uk-list uk-list-divider">
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Adds - </span>
          <div class="uk-flex uk-flex-column uk-flex-middle uk-flex-center">
            <img src="assets/strats/dhuumspawns.jpg">
            <p class="acknowledge">Merci à
              <a class="acknowledge" href="https://wiki.guildwars2.com/wiki/Hall_of_Chains#The_Voice_in_the_Void">GW2 Wiki</a> pour l'image.</p>
          </div>
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Enforcers - </span> Add squelette, inflige de gros dégats aux faucheurs. Seulement durant la première phase ou
          si une grande orbe a été loupée.
          <div class="uk-flex uk-flex-column uk-flex-middle uk-flex-center">
            <img src="assets/strats/dh/enf.jpg">
            <p class="acknowledge">Merci à
              <a class="acknowledge" href="http://dulfy.net/2017/12/05/gw2-dhuum-raid-boss-guide/">Dulfy</a> pour l'image.</p>
          </div>
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Deathlings - </span> Add araignée, inflige de légers dégats aux faucheurs.
          <div class="uk-flex uk-flex-column uk-flex-middle uk-flex-center">
            <img src="assets/strats/dh/ling.jpg">
            <p class="acknowledge">Merci à
              <a class="acknowledge" href="http://dulfy.net/2017/12/05/gw2-dhuum-raid-boss-guide/">Dulfy</a> pour l'image.</p>
          </div>
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Messenger - </span> Add golem, attaque la première personne qui les touche. Possède une zone autour qui inflige
          de gros dégats aux joueurs. Meurt 20 secondes après son apparition. La fréquence d'apparition est très élevée durant
          la première phase seulement.
          <div class="uk-flex uk-flex-column uk-flex-middle uk-flex-center">
            <img src="assets/strats/dh/mes.jpg">
            <p class="acknowledge">Merci à
              <a class="acknowledge" href="http://dulfy.net/2017/12/05/gw2-dhuum-raid-boss-guide/">Dulfy</a> pour l'image.</p>
          </div>
        </li>
      </ul>
    </div>
    <div class='uk-margin-left uk-margin-right'>
      <ul class="uk-list uk-list-divider">
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Timings - </span>
          <div class="uk-flex uk-flex-column uk-flex-middle uk-flex-center">
            <img src="assets/strats/dhuumpattern.png">
            <p class="acknowledge">Merci à
              <a class="acknowledge" href="https://wiki.guildwars2.com/wiki/Hall_of_Chains#The_Voice_in_the_Void">GW2 Wiki</a> pour l'image.</p>
          </div>
        </li>
      </ul>
    </div>
  </ul>
</div>