
.my-db-display {
    height: 680px;
}

.my-build-display {
    width: 650px;
    min-width: 650px;
}

.my-scrollable-panel {
    overflow-y: auto;
    border: 1px solid black;
    max-height: 450px;
    width: 600px;
}

.my-search {
    background-color: rgba(50,50,50,0.5);  
}

.my-search-input { 
    color: rgb(230,230,230);
    text-shadow: 0px 0px 2px rgb(0,0,0);
}

.my-scrollable-panel::-webkit-scrollbar {
    width: 12px;
}
 
.my-scrollable-panel::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.8); 
    border-radius: 10px;
}
 
.my-scrollable-panel::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(50, 50, 50, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,1.0); 
}

.my-prof-build {
    border: 2px solid black;
    color: rgb(230,230,230);
    text-shadow: 0px 0px 1px rgb(0,0,0),0px 0px 4px rgb(0,0,0),0px 0px 10px rgb(0,0,0);
}

/* Classes */
.Elementalist.my-prof-build.selected {  
    background-color: rgba(180, 0, 0, 0.6);
}

.Elementalist.my-prof-build.selected:hover {  
    background-color: rgba(180, 0, 0, 0.6);
}

.Elementalist.my-prof-build:hover {
    background-color: rgba(180, 0, 0, 0.4);
}

.Mesmer.my-prof-build.selected {  
    background-color: rgba(150, 60, 200, 0.6);
}

.Mesmer.my-prof-build.selected:hover {  
    background-color: rgba(150, 60, 200, 0.6);
}

.Mesmer.my-prof-build:hover {
    background-color: rgba(150, 60, 200, 0.4);
}

.Necromancer.my-prof-build.selected {  
    background-color: rgba(15, 105, 20, 0.6);
}

.Necromancer.my-prof-build.selected:hover {  
    background-color: rgba(15, 105, 20, 0.6);
}

.Necromancer.my-prof-build:hover {
    background-color: rgba(15, 105, 20, 0.4);
}

.Engineer.my-prof-build.selected {  
    background-color: rgba(150, 85, 15, 0.6);
}

.Engineer.my-prof-build.selected:hover {  
    background-color: rgba(150, 85, 15, 0.6);
}

.Engineer.my-prof-build:hover {
    background-color: rgba(150, 85, 15, 0.4);
}

.Thief.my-prof-build.selected {  
    background-color: rgba(40, 75, 95, 0.6);
}

.Thief.my-prof-build.selected:hover {  
    background-color: rgba(40, 75, 95, 0.6);
}

.Thief.my-prof-build:hover {
    background-color: rgba(40, 75, 95, 0.4);
}

.Ranger.my-prof-build.selected {  
    background-color: rgba(10, 160, 10, 0.6);
}

.Ranger.my-prof-build.selected:hover {  
    background-color: rgba(10, 160, 10, 0.6);
}

.Ranger.my-prof-build:hover {
    background-color: rgba(10, 160, 10, 0.4);
}

.Revenant.my-prof-build.selected {  
    background-color: rgba(85, 10, 20, 0.6);
}

.Revenant.my-prof-build.selected:hover {  
    background-color: rgba(85, 10, 20, 0.6);
}

.Revenant.my-prof-build:hover {
    background-color: rgba(85, 10, 20, 0.4);
}

.Guardian.my-prof-build.selected {  
    background-color: rgba(45, 135, 160, 0.6);
}

.Guardian.my-prof-build.selected:hover {  
    background-color: rgba(45, 135, 160, 0.6);
}

.Guardian.my-prof-build:hover {
    background-color: rgba(45, 135, 160, 0.4);
}

.Warrior.my-prof-build.selected {  
    background-color: rgba(245, 150, 15, 0.6);
}

.Warrior.my-prof-build.selected:hover {  
    background-color: rgba(245, 150, 15, 0.6);
}

.Warrior.my-prof-build:hover {
    background-color: rgba(245, 150, 15, 0.4);
}