<div class='uk-margin-large-top uk-flex uk-flex-middle uk-flex-column'>
  <ul class="uk-subnav uk-subnav-pill uk-subnav-divider my-subnav" uk-switcher="connect: .switcher-container">
    <div>
      <a href="#">Mécaniques de l'arène</a>
    </div>
    <div>
      <a href="#">Pattern de l'arène</a>
    </div>
  </ul>

</div>
<div class='uk-margin-left uk-margin-right'>
  <ul class="uk-switcher uk-margin switcher-container uk-flex uk-flex-center">
    <div class='uk-margin-left uk-margin-right'>
      <ul class="uk-list uk-list-divider">
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Pions/Slodats de Jade - </span> Au début sous forme de pion, se transforme en soldat quand il arrive au bout de
          l'echiquier. Max 4 en même temps. L'avancée du pion peut être temporairement stoppée en le mettant à 0% Le soldat
          fait beaucoup de dégâts et est la cible prioritaire du raid. Les pions et soldats allument les cases qu'ils traversent.
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Claim - </span> Permet d'éteindre une case allumée. Le boss suit la personne avec le claim.
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Protect - </span> Pose une bulle d'invicibilité.
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Dispel - </span> Enlève le bouclier des pions/soldats de jade.
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Cases allumées - </span> Une case allumée appartient à l'ennemi et endommage les alliés.

        </li>
      </ul>
    </div>
    <div class='uk-margin-left uk-margin-right'>
      <ul class="uk-list uk-list-divider">
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Pattern des pics - </span> Les pics tuent instantanément tous joueurs se trouvant dessus.
          <div class="uk-flex uk-flex-column uk-flex-middle uk-flex-center"> 
            <img src="assets/strats/mopattern.png">
            <p>Merci à
              <a class="acknowledge" href="https://discord.gg/nZg52r3">The Crossroads Inn</a> pour l'image.</p>
          </div>
        </li>
      </ul>
    </div>
  </ul>
</div>