<div class='uk-margin-large-top uk-flex uk-flex-middle uk-flex-column'>
  <ul class="uk-subnav uk-subnav-pill uk-subnav-divider my-subnav" uk-switcher="connect: .switcher-container">
    <div>
      <a href="#">Mécaniques de base</a>
    </div>
    <div>
      <a href="#">Add</a>
    </div>
    <div>
      <a href="#">Carte</a>
    </div>
  </ul>

</div>
<div class='uk-margin-left uk-margin-right'>
  <ul class="uk-switcher uk-margin switcher-container uk-flex uk-flex-center">
    <div class='uk-margin-left uk-margin-right'>
      <ul class="uk-list uk-list-divider">
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Desmina - </span> Il faut protéger et escorter Desmina jusqu'au bout du chemin.
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Mort - </span> La première fois que vous mourrez, vous vous transformez en esprit. Il suffit de manger 5 orbes
          pour revenir à la vie.
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Rivière - </span> La rivière endommage les joueurs, il faut rester sous la bulle de Desmina pour ne perdre de la
          vie.
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Walls - </span> Mur qui tue instantanément un joueur. Cf Carte.
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Bombs - </span> Vise un joueur au hasard. Il ne faut pas la poser sur le raid car la bombe provoque un stun. Il
          est possible de la poser sur les ennemis afin de les endommager.
        </li>
      </ul>
    </div>
    <div class='uk-margin-left uk-margin-right'>
      <ul class="uk-list uk-list-divider">
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Spatial Rift - </span> Une faille qui aspire les joueurs vers elle. Il suffit de la taper 10 fois pour la détruire.
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Hallowed Bombers - </span> Add qui se dirige sur Desmina afin d'exploser et infliger de lourd dégats.
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Enervators - </span> Add qui désactive le bouclier de Desmina et l'empêche de bouger.
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Hordes - </span> Adds qui attaquent Desmina. Ils meurent très facilement.
        </li>
      </ul>
    </div>
    <div class='uk-margin-left uk-margin-right'>
      <ul class="uk-list uk-list-divider">
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Carte - </span>
          <div class="uk-flex uk-flex-column uk-flex-middle uk-flex-center uk-margin-left uk-margin-right uk-margin-top">
            <img src="assets/strats/river.jpg">
            <p class="acknowledge">Merci à
              <a class="acknowledge" href="https://wiki.guildwars2.com/wiki/Hall_of_Chains">GW2 Wiki</a> pour l'image.</p>
          </div>
        </li>
      </ul>
    </div>
  </ul>
</div>