
.my-composition {
    height: 680px;
}/*
table {
    border-spacing: 0px;
    background-color: rgba(50, 50, 50, 0.2);
}*/
th {
    background-color: rgba(200,100,0,0.2);   
    border: 4px solid black;
}

table {
    color: rgb(230,230,230);
    text-shadow: 0px 0px 1px rgb(0,0,0),0px 0px 4px rgb(0,0,0),0px 0px 10px rgb(0,0,0);
}

table tbody tr.selected {  
    background-color: rgba(100,150,0,0.3);
}
table tbody tr.selected:hover {  
    background-color: rgba(100,150,0,0.3);
}
table tbody tr:hover {
    background-color: rgba(100,100,0,0.2);
}

table tbody tr {
    border-top: 2px solid black;
    background-color: rgba(50, 50, 50, 0.2);
    transition: background-color 0.2s linear;
}

img {
    zoom: 0.6;
    -webkit-filter: drop-shadow(5px 5px 5px #222) ;
    filter: drop-shadow(5px 5px 5px #222);
}

table tbody{  
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.selectable {
    cursor: pointer; 
}