<div *ngIf="boss">
  <ul class="my-composition">
    <div class='uk-flex uk-flex-row uk-flex-between'>
      <div class='uk-flex uk-flex-row uk-margin-large-top'>
        <table *ngIf="t1.length > 0" class='uk-margin-left uk-margin-right'>
          <thead>
            <tr>
              <th>
                <span class="uk-text-large uk-text-bold">Groupe 1</span>
              </th>
            </tr>
          </thead>
          <tbody class="uk-flex uk-flex-column">
            <tr *ngFor="let character of t1" (click)="onSelect(character)" [ngClass]="getClasses(character)" [class.selected]="character === selectedChar" >
              <td>
                <img [src]='character.getIcon(boss.shortName)'>
                <span class='uk-text-middle uk-text-large uk-text-bold'>{{character.name}}</span>
              </td>
            </tr>
          </tbody>
        </table>

        <table *ngIf="t2.length > 0" class='uk-margin-right'>
          <thead>
            <tr>
              <th>
                <span class="uk-text-large uk-text-bold">Groupe 2</span>
              </th>
            </tr>
          </thead>
          <tbody class="uk-flex uk-flex-column">
            <tr *ngFor="let character of t2" (click)="onSelect(character)" [ngClass]="getClasses(character)" [class.selected]="character === selectedChar">
              <td>
                <img [src]='character.getIcon(boss.shortName)'>
                <span class='uk-text-middle uk-text-large uk-text-bold'>{{character.name}}</span>
              </td>
            </tr>

          </tbody>

        </table>

        <table *ngIf="t3.length > 0" class='uk-margin-right'>
          <thead>
            <tr>
              <th>
                <span class="uk-text-large uk-text-bold">Groupe 3</span>
              </th>
            </tr>
          </thead>
          <tbody class="uk-flex uk-flex-column">
            <tr *ngFor="let character of t3" (click)="onSelect(character)" [ngClass]="getClasses(character)" [class.selected]="character === selectedChar" >
              <td>
                <img [src]='character.getIcon(boss.shortName)'>
                <span class='uk-text-middle uk-text-large uk-text-bold'>{{character.name}}</span>
              </td>
            </tr>
          </tbody>

        </table>
      </div>


      <app-build-detail [character]="selectedChar" class="uk-margin-top uk-margin-right" [bossName]="boss.shortName"></app-build-detail>
    </div>
  </ul>
</div>