.compoContainer {
    display: inline-flex;
    flex-direction: row;
    width: 100%;
}

.teamContainer {
    display: inline-flex;
    flex-direction: row;
    width: 100%;
}


table {
    border: #000000 5px solid;
    border-spacing: 0px;
    margin-right: 10px;
    margin-top: 20px;
    min-width: 250px;
}

h3 {
    font-size: 2.5em;
    color: #22334F;
    font-weight: bold;
    text-decoration: underline;
}

table thead {
    color: black;
    background-color: #FFCC66;
    border: #FFCC66 3px solid;
    font-size: 2.5em;
}



tr.selected {  
    background-color: rgba(0, 0, 0, 0.4) !important;
  }
tr.selected:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }
tr:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }

img {
    zoom: 0.8;
}

table tbody {
    background-color: rgba(50, 50, 50, 0.2);
    border: #BBBBBB 2px solid;
    letter-spacing: 1px;
}

table tr td {
    display: inline-flex;
    width: 100%;
    justify-content:left;
    cursor: pointer;    
    border: #000000 1px solid;
    color: #000000;
    align-items: center;
    font-weight: bold;
    font-size: 1.8em;
}