
.my-composition {
    height: 730px;
}

table {
    border: #000000 5px solid;
    border-spacing: 0px;
    background-color: rgba(50, 50, 50, 0.2);
}

table thead {
    color: black;
    background-color: #FFCC66;
}



tr.selected {  
    background-color: rgba(0, 0, 0, 0.40) !important;
  }
tr.selected:hover {
    background-color: rgba(0, 0, 0, 0.25);
  }
tr:hover {
    background-color: rgba(0, 0, 0, 0.25);
  }

img {
    zoom: 0.8;
}

table tr {
    cursor: pointer;    
    border: #000000 1px solid;
    color: #000000;
    min-width: 250px;
}