<div *ngIf="boss">
  <ul class="my-composition">
    <div class='uk-flex-inline uk-flex-row'>
      <table class='uk-margin-top  uk-margin-right'>
        <thead class="uk-text-large uk-text-bold uk-text-center">Groupe 1</thead>
        <tbody *ngIf="t1.length > 1" class="uk-flex-inline uk-flex-column">
          <tr *ngFor="let character of t1" (click)="onSelect(character)" [class.selected]="character === selectedChar">
            <td>
              <img [src]='character.getIcon(boss.shortName)'>
              <span class='uk-text-large uk-text-bold uk-text-middle'>{{character.name}}</span>
            </td>
          </tr>
        </tbody>
      </table>

      <table class='uk-margin-top uk-margin-right'>
        <thead class="uk-text-large uk-text-bold uk-text-center">Groupe 2</thead>
        <tbody *ngIf="t2.length > 1" class="uk-flex-inline uk-flex-column">
          <tr *ngFor="let character of t2" (click)="onSelect(character)" [class.selected]="character === selectedChar">
            <td >
              <img [src]='character.getIcon(boss.shortName)'>
              <span class='uk-text-large uk-text-bold uk-text-middle'>{{character.name}}</span>
            </td>
          </tr>
        </tbody>

      </table>

      <app-build-detail [character]="selectedChar" [bossName]="boss.shortName"></app-build-detail>
    </div>
  </ul>
</div>