<div *ngIf="character && bossName">
  <div class="char uk-margin-top">
    <div *ngIf="character.gw2Armory.length > 0" class="charLink" >
      <a [href]="character.gw2Armory" target='armory' title="Lien vers les persos sur GW2Armory" uk-tooltip="pos: top">Lien Armory</a>
    </div>

    <div *ngIf="character.getRole(bossName).length > 0" class="charRole">
      {{character.getRole(bossName).toUpperCase()}}
    </div>

  </div>


  <div class="buildDiv">
    <app-display-build [build]="character.getBuild(bossName)"></app-display-build>
  </div>
</div>