<div class='uk-margin-large-top uk-flex uk-flex-middle uk-flex-column'>
  <ul class="uk-subnav uk-subnav-pill uk-subnav-divider my-subnav" uk-switcher="connect: .switcher-container">
    <div>
      <a href="#">Mécaniques de l'arène</a>
    </div>
    <div>
      <a href="#">Mécaniques de base</a>
    </div>
    <div>
      <a href="#">Téléportation</a>
    </div>
    <div>
      <a href="#">Phase 1</a>
    </div>
    <div>
      <a href="#">Phase 2</a>
    </div>
    <div>
      <a href="#">Phase 3</a>
    </div>
  </ul>

</div>
<div class='uk-margin-left uk-margin-right'>
  <ul class="uk-switcher uk-margin switcher-container uk-flex uk-flex-center">
    <div class='uk-margin-left uk-margin-right'>
      <ul class="uk-list uk-list-divider">

        <li>
          <span class='uk-text-uppercase uk-text-bold'>Zones noires - </span>.
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Mains - </span>.
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Larmes - </span>.
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Prides - </span>.
        </li>
      </ul>
    </div>
    <div class='uk-margin-left uk-margin-right'>
      <ul class="uk-list uk-list-divider">
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Téléportation - </span> Un joueur est choisi tous les 25% pour emmener le raid en bas afin de se battre contre
          un add. Tous le monde descend sauf le tank, le black kite et le hand kite. A 50% de l'add, ce dernier et les joueurs
          du bas remonte. Il faut finir l'add en priorité.
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Tanking - </span>.
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Smash - </span>.
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Mind Crush - </span>.
        </li>
      </ul>
    </div>
    <div class='uk-margin-left uk-margin-right'>
      <ul class="uk-list uk-list-divider">
        <li>
          <span class='uk-text-uppercase uk-text-bold'>75% - </span>.
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>50% - </span>.
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>25% - </span>.
        </li>
      </ul>
    </div>
    <div class='uk-margin-left uk-margin-right'>
      <ul class="uk-list uk-list-divider">
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Chaines - </span> Il faut casser les 4 chaines pour libérer le PNJ. Un joueur enmène les autres en bas, ces derniers
          remontent quand une chaine a été brisée.
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>En bas - </span> L'ombre du boss fait des attaques en cône qui projette les joueurs touchés.
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>En haut - </span> Des adds avancent sur le PNJ afin d'exploser et lui enlever de la vie.
        </li>
      </ul>
    </div>
    <div class='uk-margin-left uk-margin-right'>
      <ul class="uk-list uk-list-divider">
      </ul>
    </div>
    <div class='uk-margin-left uk-margin-right'>
      <ul class="uk-list uk-list-divider">
      </ul>
    </div>
  </ul>
</div>