<div class='uk-margin-large-top uk-flex uk-flex-middle uk-flex-column'>
  <ul class="uk-subnav uk-subnav-pill uk-subnav-divider my-subnav" uk-switcher="connect: .switcher-container">
    <div>
      <a href="#">Mécaniques de l'arène</a>
    </div>
    <div>
      <a href="#">Mécaniques de base</a>
    </div>
  </ul>

</div>
<div class='uk-margin-left uk-margin-right'>
  <ul class="uk-switcher uk-margin switcher-container uk-flex uk-flex-center">
    <div class='uk-margin-left uk-margin-right'>
      <ul class="uk-list uk-list-divider">
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Unseen Burden - </span> Ralentit la cible de 1% par stack. Stack max de 99.
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Cosmic Aura - </span> Aura qui endommage les joueurs.
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Action Spéciale - </span> Une action spéciale permet de se se déplacer de la même manière que le 3 du bâton du
          druide.
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Shared Agony - </span> Toutes les 20 secondes, le joueur le plus éloigné, n'ayant pas déjà le debuff, est choisi
          par le boss. 3 joueurs peuvent avoir le debuff en même temps. Inflige de légers dégâts sur le joueur choisi et
          de lourds dégâts sur une zone autour. Persiste pendant 60 secondes.
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Displacement - </span> Trois zones rouges pop sous le raid, les joueurs le prennant se font téléporter de manière
          aléatoire sur l'arène.
        </li>
      </ul>
    </div>
    <div class='uk-margin-left uk-margin-right'>
      <ul class="uk-list uk-list-divider">
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Tanking - </span> Le boss vise le joueur le plus éloigné.
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Energy Surge - </span> Le boss se téléporte sur 5 endroits différents, laissant une zone verte sur son passage.
          Les joueurs se trouvant sur le chemin de tp se font bump. Lance Spatial Manipulation à la fin de l'attaque.
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Meteor Swarm - </span> Lance 8 projectiles qui bumpent les joueurs.
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Orbital Sweep - </span> Attaque sur 360 degrés. Les joueurs prenant le coup se font bump. Le bump est puissant
          et peut faire sortir le joueur de l'arène.
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Spatial Manipulation - </span> Inflige de gros dégâts et fait flotter le joueur. Ajoute des stacks de Unseen Burden.
          On l'évite en se positionnant sur une zone verte. Les petites zones requièrent 1 personne au moins pour fonctionner,
          les moyennes 2 et les larges 4. Si toutes les zones sont de la même taille, pas d'exigence sur le nombre de joueurs.
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Gravity Wave - </span> Attaque de type vague vers l'extérieur. Repousse le joueur le prennant. 3 vagues par attaque.
        </li>
      </ul>
    </div>
  </ul>
</div>