<div class='uk-margin-large-top uk-flex uk-flex-middle uk-flex-column'>
  <ul class="uk-subnav uk-subnav-pill uk-subnav-divider my-subnav" uk-switcher="connect: .switcher-container">
    <div>
      <a href="#">Mécaniques de l'arène</a>
    </div>
    <div>
      <a href="#">Mécaniques de base</a>
    </div>
  </ul>

</div>
<div class='uk-margin-left uk-margin-right'>
  <ul class="uk-switcher uk-margin switcher-container uk-flex uk-flex-center">
    <div class='uk-margin-left uk-margin-right'>
      <ul class="uk-list uk-list-divider">
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Pétrification - </span>.
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Action Spéciale - </span>.
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Zones Vertes - </span>.
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Zones Rouges - </span>.
        </li>
      </ul>
    </div>
    <div class='uk-margin-left uk-margin-right'>
      <ul class="uk-list uk-list-divider">
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Téléportation - </span>.
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Jade Shards - </span>.
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Full Swing - </span>.
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Agonie Partagée - </span>.
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Marée Noire - </span>.
        </li>
      </ul>
    </div>
  </ul>
</div>