<div class='uk-margin-large-top uk-flex uk-flex-middle uk-flex-column'>
  <ul class="uk-subnav uk-subnav-pill uk-subnav-divider my-subnav" uk-switcher="connect: .switcher-container">
    <div>
      <a href="#">Mécaniques de l'arène</a>
    </div>
    <div>
      <a href="#">Pattern de l'arène</a>
    </div>
  </ul>

</div>
<div class='uk-margin-left uk-margin-right'>
  <ul class="uk-switcher uk-margin switcher-container uk-flex uk-flex-center">
    <div class='uk-margin-left uk-margin-right'>
      <ul class="uk-list uk-list-divider">
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Armures de Jade - </span>
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Claim - </span>
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Protect - </span>
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Dispel - </span>
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Cases allumées - </span>
        </li>
      </ul>
    </div>
    <div class='uk-margin-left uk-margin-right'>
      <ul class="uk-list uk-list-divider">
      </ul>
    </div>
  </ul>
</div>