<div class='uk-margin-large-top uk-flex uk-flex-middle uk-flex-column'>
  <ul class="uk-subnav uk-subnav-pill uk-subnav-divider my-subnav" uk-switcher="connect: .switcher-container">
    <div>
      <a href="#">Mécaniques de l'arène</a>
    </div>
    <div>
      <a href="#">Mécaniques de base</a>
    </div>
    <div>
      <a href="#">Phase des chaînes</a>
    </div>
    <div>
      <a href="#">Phase 1</a>
    </div>
    <div>
      <a href="#">Téléportation</a>
    </div>
    <div>
      <a href="#">Phase 2</a>
    </div>
  </ul>

</div>
<div class='uk-margin-left uk-margin-right'>
  <ul class="uk-switcher uk-margin switcher-container uk-flex uk-flex-center">
    <div class='uk-margin-left uk-margin-right'>
      <ul class="uk-list uk-list-divider">
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Saul - </span> PNJ à protéger. Toutes les minutes il lance un debuff sur le boss qui dure 10 secondes qui augmente
          les dégâts reçus de 100%.
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Demonic Tears - </span> Des petites zones blanches qui tirent des projectiles inbloquables sur le raid. Sont détruites
          quand un joueur leur marche dessus. Le joueur reçoit un debuff qui inflige de légèr dommage et qui empêche de redétruire
          une larme pendant une minute. Toutes les 15 secondes à partir de 75%.
          <div class="uk-flex uk-flex-column uk-flex-middle uk-flex-center">
            <img src="assets/strats/dei/tear.jpg">
            <p class="acknowledge">Merci à
              <a class="acknowledge" href="http://dulfy.net/2017/02/13/gw2-deimos-raid-boss-guide/">Dulfy</a> pour l'image.</p>
          </div>
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Prides - </span> Gros add qui apparaît à partir de 40% jusqu'au 10% et durant la phase des chaînes. Se dirige vers
          Saul pour lui infliger de gros dégâts.
          <div class="uk-flex uk-flex-column uk-flex-middle uk-flex-center">
            <img src="assets/strats/dei/pride.jpg">
            <p class="acknowledge">Merci à
              <a class="acknowledge" href="http://dulfy.net/2017/02/13/gw2-deimos-raid-boss-guide/">Dulfy</a> pour l'image.</p>
          </div>
        </li>
      </ul>
    </div>
    <div class='uk-margin-left uk-margin-right'>
      <ul class="uk-list uk-list-divider">
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Demonic Aura - </span> Inflige des dégâts au raid toutes les 3 secondes.
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Téléportation - </span> Un joueur est choisi tous les 25% pour emmener le raid en bas afin de se battre contre
          un add. Tous le monde descend sauf le tank, le black kite et le hand kite. A 50% de l'add, les joueurs du bas remontent.
          Il faut finir l'add en priorité. Après chaque retour, les mains se déplacent vers le boss.
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Rapid Decay - </span> Zone noire au sol qui grossit de manière très rapide si un joueur la touche. Inflige de lourds
          dommages. Au maximum au nombre de deux. Apparaît sur le joueur le plus proche du boss après le tank toutes les
          15 secondes. A partir de 60%.
          <div class="uk-flex uk-flex-column uk-flex-middle uk-flex-center">
            <img src="assets/strats/dei/black.jpg">
            <p class="acknowledge">Merci à
              <a class="acknowledge" href="http://dulfy.net/2017/02/13/gw2-deimos-raid-boss-guide/">Dulfy</a> pour l'image.</p>
          </div>
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Soul Feast - </span> Des zones avec des mains apparaissent sous le joueur le plus éloigné. Inflige de lours dommages.
          <div class="uk-flex uk-flex-column uk-flex-middle uk-flex-center">
            <img src="assets/strats/dei/feast.jpg">
            <p class="acknowledge">Merci à
              <a class="acknowledge" href="http://dulfy.net/2017/02/13/gw2-deimos-raid-boss-guide/">Dulfy</a> pour l'image.</p>
          </div>
        </li>
      </ul>
    </div>
    <div class='uk-margin-left uk-margin-right'>
      <ul class="uk-list uk-list-divider">
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Chaines - </span> Il faut casser les 4 chaines pour libérer le PNJ. Un joueur enmène les autres en bas, ces derniers
          remontent quand une chaine a été brisée.
          <div class="uk-flex uk-flex-column uk-flex-middle uk-flex-center">
            <img src="assets/strats/dei/chain.jpg">
            <p class="acknowledge">Merci à
              <a class="acknowledge" href="http://dulfy.net/2017/02/13/gw2-deimos-raid-boss-guide/">Dulfy</a> pour l'image.</p>
          </div>
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>En bas - </span> L'ombre du boss fait des attaques en cône qui projette les joueurs touchés.
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>En haut - </span> Des adds avancent sur le PNJ afin d'exploser et lui enlever de la vie.
        </li>
      </ul>
    </div>
    <div class='uk-margin-left uk-margin-right'>
      <ul class="uk-list uk-list-divider">
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Annihilate - </span> Une attaque sur 360 degrés progressives. Inflige de légers dommages et lance les joueurs touchés.
          Peut expulser de l'arène.
          <div class="uk-flex uk-flex-column uk-flex-middle uk-flex-center">
            <img src="assets/strats/dei/anni.jpg">
            <p class="acknowledge">Merci à
              <a class="acknowledge" href="http://dulfy.net/2017/02/13/gw2-deimos-raid-boss-guide/">Dulfy</a> pour l'image.</p>
          </div>
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Mind Crush - </span> Une attaque sur le raid qui met au sol en un coup. Peut-être bloquée (compétence qui bloque,
          égide) ou être évitée en se mettant dans la bulle créée par Saul.
          <div class="uk-flex uk-flex-column uk-flex-middle uk-flex-center">
            <img src="assets/strats/dei/crush.jpg">
            <p class="acknowledge">Merci à
              <a class="acknowledge" href="http://dulfy.net/2017/02/13/gw2-deimos-raid-boss-guide/">Dulfy</a> pour l'image.</p>
          </div>
        </li>
      </ul>
    </div>
    <div class='uk-margin-left uk-margin-right'>
      <ul class="uk-list uk-list-divider">
        <li>
          <span class='uk-text-uppercase uk-text-bold'>75% - Vol - </span> Si la breakbar n'est pas faîte, vole tous les avantages du raid.
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>50% - Parieur - </span>Split régulièrement en 4 (3 clones et un réel). Le vrai add porte le bâton de Matthias.
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>25% - Ivrogne - </span> Si la breaker bar n'est pas faîte, téléporte de manière aléatoire tous les joueurs.
        </li>
      </ul>
    </div>
    <div class='uk-margin-left uk-margin-right'>
      <ul class="uk-list uk-list-divider">
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Saul - </span> Il n'est plus nécessaire de s'occuper du PNJ.
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Demonic Shockwave - </span> Que durant les 10 derniers %. Une onde de choc part de l'avant du boss vers l'extérieur.
          D'abord un coup avec la droite puis avec la gauche et enfin avec les deux mains.
          <div class="uk-flex uk-flex-column uk-flex-middle uk-flex-center">
            <img src="assets/strats/dei/wave.jpg">
            <p class="acknowledge">Merci à
              <a class="acknowledge" href="http://dulfy.net/2017/02/13/gw2-deimos-raid-boss-guide/">Dulfy</a> pour l'image.</p>
          </div>
        </li>
      </ul>
    </div>
  </ul>
</div>