<div class='uk-margin-large-top uk-flex uk-flex-middle uk-flex-column'>
  <ul class="uk-subnav uk-subnav-pill uk-subnav-divider my-subnav" uk-switcher="connect: .switcher-container">
    <div>
      <a href="#">Mécaniques de l'arène</a>
    </div>
    <div>
      <a href="#">Mécaniques de base</a>
    </div>
  </ul>

</div>
<div class='uk-margin-left uk-margin-right'>
  <ul class="uk-switcher uk-margin switcher-container uk-flex uk-flex-center">
    <div class='uk-margin-left uk-margin-right'>
      <ul class="uk-list uk-list-divider">
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Arène - </span> La taille de l'arène se réduit à 90%, 66% et 33%.
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Elite Flesh Wurms - </span> Adds qui tirent des projectiles sur le raid. infligent des dégâts modérés.
          <div class="uk-flex uk-flex-column uk-flex-middle uk-flex-center">
            <img src="assets/strats/ss/wurm.jpg">
            <p class="acknowledge">Merci à
              <a class="acknowledge" href="http://dulfy.net/2017/12/02/gw2-soulless-horror-raid-guide/">Dulfy</a> pour l'image.</p>
          </div>
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Surging Souls - </span> Mur qui se déplace selon les directions cardinales (Nord-Sud, Est-Ouest). Les joueurs qui
          touchent le mur meurent instantanément.
          <div class="uk-flex uk-flex-column uk-flex-middle uk-flex-center">
            <img src="assets/strats/ss/wall.jpg">
            <p class="acknowledge">Merci à
              <a class="acknowledge" href="http://dulfy.net/2017/12/02/gw2-soulless-horror-raid-guide/">Dulfy</a> pour l'image.</p>
          </div>
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Spinning Scythes - </span> Faux qui se déplace avec une AoE rouge selon une ligne. Corrompt tous les avantages
          des joueurs touchés.
          <div class="uk-flex uk-flex-column uk-flex-middle uk-flex-center">
            <img src="assets/strats/ss/scy.jpg">
            <p class="acknowledge">Merci à
              <a class="acknowledge" href="http://dulfy.net/2017/12/02/gw2-soulless-horror-raid-guide/">Dulfy</a> pour l'image.</p>
          </div>
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Tormented Dead - </span> Add qui pop au centre et attaque l'off tank. Pop toutes les 20 secondes à partir de 90%.
          A sa mort, une grande zone rouge apparaît qui persiste pendant 60 secondes. Cette dernière inflige de gros dégâts
          et corrompt tous les avantages.
          <div class="uk-flex uk-flex-column uk-flex-middle uk-flex-center">
            <img src="assets/strats/ss/golem.jpg">
            <p class="acknowledge">Merci à
              <a class="acknowledge" href="http://dulfy.net/2017/12/02/gw2-soulless-horror-raid-guide/">Dulfy</a> pour l'image.</p>
          </div>
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Chilling Aura - </span> Aura qui endommage régulièrement les joueurs.
        </li>
      </ul>
    </div>
    <div class='uk-margin-left uk-margin-right'>
      <ul class="uk-list uk-list-divider">
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Exile's Embrace - </span> Deux tanks en fonction des aura (rogue et vert). Le boss met Necrosis (un debuff qui
          stack) sur le tank courant, toutes les 12 secondes à partir de 7:54, qui augmente fortement les dégâts reçus (10%
          par stack). Il faut donc régulièrement jongler entre les tanks. L'action qui permet de switch (Issue Challenge)
          a un cooldown de 45 secondes. 3 stacks sont largement gérables (ie 45 secondes). Les stacks sont complétement perdus
          si le joueur n'en reçoit aucun durant 30 secondes.
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Vortex Slash - </span> Une attaque en deux étapes. Tout d'abord un cercle centré sur le boss qui se remplit avant
          d'endommager lourdement les joueurs puis immédiatement une attaque sur un anneau extérieur qui provoque encore
          plus de dégâts. Esquiver vers le boss pour tout éviter.
          <div class="uk-flex uk-flex-column uk-flex-middle uk-flex-center">
            <img src="assets/strats/ss/vortex.jpg">
            <p class="acknowledge">Merci à
              <a class="acknowledge" href="http://dulfy.net/2017/12/02/gw2-soulless-horror-raid-guide/">Dulfy</a> pour l'image.</p>
          </div>
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Hurricane Slash - </span> Une attaque en deux étapes. Tout d'abord 4 cônes autour du boss qui inflige des dégâts
          3 secondes après appararition puis la même attaque mais tournée de 45 degrés. A partir de 7:30.
          <div class="uk-flex uk-flex-column uk-flex-middle uk-flex-center">
            <img src="assets/strats/ss/hurr.jpg">
            <p class="acknowledge">Merci à
              <a class="acknowledge" href="http://dulfy.net/2017/12/02/gw2-soulless-horror-raid-guide/">Dulfy</a> pour l'image.</p>
          </div>
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Death Bloom - </span> Même chose que Hurricane Slash mais en une étape (8 cônes d'un coup).
          <div class="uk-flex uk-flex-column uk-flex-middle uk-flex-center">
            <img src="assets/strats/ss/bloom.jpg">
            <p class="acknowledge">Merci à
              <a class="acknowledge" href="http://dulfy.net/2017/12/02/gw2-soulless-horror-raid-guide/">Dulfy</a> pour l'image.</p>
          </div>
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Howling Death - </span> Si la breakbar n'est pas faîte, le boss fear et inflige des dégâts catastrophiques (wipe).
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Fingers of the Dead - </span> Petits AoE oranges qui apparaissent durant les deux attaques auto du boss Slice et
          Corrupt the Living. Inflige des dégâts.
          <div class="uk-flex uk-flex-column uk-flex-middle uk-flex-center">
            <img src="assets/strats/ss/fing.jpg">
            <p class="acknowledge">Merci à
              <a class="acknowledge" href="http://dulfy.net/2017/12/02/gw2-soulless-horror-raid-guide/">Dulfy</a> pour l'image.</p>
          </div>
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Slice - </span> Attaque en cône en direction du tank. Fingers of the Dead spawn dans ce cône.
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Corrupt the Living - </span> Attaque en swing devant le boss. Inflige poison et tourment. Fingers of the Dead spawn
          dans un anneau à l'extérieur du rayon d'attaque.
        </li>
      </ul>
    </div>
  </ul>
</div>