<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{title}}
  </h1>
</div>

<app-navigation-bar></app-navigation-bar>

<div class='selector'>
  <span (click)="onSelectDisplay('boss')" [class.selected]="selectedDisplay === 'boss'">
    Les Boss
  </span>
  <span (click)="onSelectDisplay('links')" [class.selected]="selectedDisplay === 'links'">
    Les Liens Utiles
  </span>
</div>

<body>
  <div *ngIf="selectedDisplay === 'boss'">
    <app-main></app-main>
  </div>
  <div *ngIf="selectedDisplay === 'links'">
    <app-links></app-links>
  </div>
</body>

<div licensing>This unofficial site includes art and other assets that are © 2015 ArenaNet, Inc. All rights reserved. All other trademarks
  are the property of their respective owners.</div>