<h1 class="uk-text-center uk-text-middle uk-text-bold uk-heading-hero">
  {{title}}
</h1>

<app-navigation-bar></app-navigation-bar>

<body class="uk-flex uk-flex-center">
  <div class="my-main">
    <app-main></app-main>
  </div>
</body>

<div class="uk-flex uk-flex-center">
  <div class="licensing uk-text-bold uk-text-small uk-text-center uk-text-middle">This unofficial site includes art and other assets that are © 2015 ArenaNet, Inc. All rights reserved. All other trademarks
    are the property of their respective owners.</div>
</div>