
.my-navbar {
    position: relative;
    z-index: 980;
    background-color: rgba(200, 200, 200, 0.0);
}

.avoid-click {
    pointer-events: none;
}

.accept-click {
    pointer-events: auto;
}

.my-title-nav {
    color:rgb(220,220,220);
    text-shadow: 0px 0px 1px black, 0px 0px 4px black;
    background-color: rgba(200, 200, 200, 0.9);
}

.my-navbar-dropdown {
    background-color: rgba(250, 250, 250, 0.9);
}