
.uk-navbar {
    position: relative;
    z-index: 980;
    background-color: rgba(250, 250, 250, 0.0);
}

a.titleNav {
    color:black;
    font-weight: bold;
    font-size: 1.5em;
    background-color: rgba(250, 250, 250, 0.9);
}

.uk-nav-header {
    font-weight: bold;
}

.uk-navbar-dropdown {
    background-color: rgba(250, 250, 250, 0.95);
}