<div class='uk-margin-large-top uk-flex uk-flex-middle uk-flex-column'>
  <ul class="uk-subnav uk-subnav-pill uk-subnav-divider my-subnav" uk-switcher="connect: .switcher-container">
    <div>
      <a href="#">Mécaniques de base</a>
    </div>
    <div>
      <a href="#">Pré-Event</a>
    </div>
    <div>
      <a href="#">Phase 1</a>
    </div>
    <div>
      <a href="#">Split</a>
    </div>
    <div>
      <a href="#">Phase 2</a>
    </div>
    <div>
      <a href="#">Téléportation</a>
    </div>
    <div>
      <a href="#">Tanking</a>
    </div>
    <div>
      <a href="#">Twisted Castle</a>
    </div>
  </ul>

</div>
<div class='uk-margin-left uk-margin-right'>
  <ul class="uk-switcher uk-margin switcher-container uk-flex uk-flex-center">
    <div class='uk-margin-left uk-margin-right'>
      <ul class="uk-list uk-list-divider">
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Split - </span> Le boss split à 50%.
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Aura - </span> Pas d'Aura.
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Tanking - </span> Tank devant le boss, les autres se mettent derrière.
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Derangement - </span> Stack de debuff. Augmente avec le temps ou en prenant des attaques du boss. Chaque eclat
          de pierre de sang détruit enlève 5 stacks. A 99 stacks le joueur meurt, à 90 stacks le joueur est fear.
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Blurred Frenzy - </span> Une attaque du boss qui peut infliger jusqu'à 27 stacks de confusions. Ne pas rester devant.
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Adds - </span> Le boss va régulièrement appeler des renforts.
        </li>
      </ul>
    </div>
    <div class='uk-margin-left uk-margin-right'>
      <ul class="uk-list uk-list-divider">
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Platforme 2/6 - </span> Il faut pousser les 3 orbes dans les 3 failles puis détruire le crystal.
          <div class="uk-flex uk-flex-column uk-flex-middle uk-flex-center">
            <img src="assets/strats/xera/26.jpg">
            <p class="acknowledge">Merci à
              <a class="acknowledge" href="http://dulfy.net/2016/06/15/gw2-xera-raid-boss-guide/">Dulfy</a> pour l'image.
            </p>
          </div>
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Platforme 3/5 - </span> Il faut un joueur sur chaque interrupteur (3) pour enlever le bouclier. L'interrupteur
          met un stack de debuff par seconde sur le joueur, à 10 stacks le joueur tombe. Il faut tourner sur les interrupteurs
          le temps de détruire le crystal.
          <div class="uk-flex uk-flex-column uk-flex-middle uk-flex-center">
            <img src="assets/strats/xera/35.jpg">
            <p class="acknowledge">Merci à
              <a class="acknowledge" href="http://dulfy.net/2016/06/15/gw2-xera-raid-boss-guide/">Dulfy</a> pour l'image.
            </p>
          </div>
        </li>
      </ul>
    </div>
    <div class='uk-margin-left uk-margin-right'>
      <ul class="uk-list uk-list-divider">
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Pierres de sang - </span> Dans le sens des aiguilles d'une montre, des fragments vont apparaitre autour de l'arène.
          Les zones des pierres se chevauchent, donnent un stack de debuff par seconde et buff sévèrement le boss. Un fragment
          apparaît toutes les 10 secondes.
          <div class="uk-flex uk-flex-column uk-flex-middle uk-flex-center">
            <img src="assets/strats/xera/frags.jpg">
            <p class="acknowledge">Merci à
              <a class="acknowledge" href="http://dulfy.net/2016/06/15/gw2-xera-raid-boss-guide/">Dulfy</a> pour l'image.
            </p>
          </div>
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Breakbar - </span> Le boss lève son épée en l'air. Pendant sa breakbar les fragments apparaissent plus rapidement.
          Premier breakbar à 90% puis toutes les 60 secondes.
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>AoE - </span> Toutes les 30 secondes une moitié de l'arène va s'allumer, cette zone corrompt les avantages.
          <div class="uk-flex uk-flex-column uk-flex-middle uk-flex-center">
            <img src="assets/strats/xera/xerap1.jpg">
            <p class="acknowledge">Merci à
              <a class="acknowledge" href="http://dulfy.net/2016/06/15/gw2-xera-raid-boss-guide/">Dulfy</a> pour l'image.
            </p>
          </div>
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Deadly Attack- </span> Un joueur est choisi au hasard pour poser une bulle de protection sur le raid, attendre
          3 à 5 secondes avant de le lancer. Si la bulle n'est pas mise ou si elle est mise trop tôt, c'est le wipe.
          <div class="uk-flex uk-flex-column uk-flex-middle uk-flex-center">
            <img src="assets/strats/xera/deadly.jpg">
            <p class="acknowledge">Merci à
              <a class="acknowledge" href="http://dulfy.net/2016/06/15/gw2-xera-raid-boss-guide/">Dulfy</a> pour l'image.
            </p>
          </div>
        </li>
      </ul>
    </div>
    <div class='uk-margin-left uk-margin-right'>
      <ul class="uk-list uk-list-divider">
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Rotation - </span> Dans le sens 4-3-2-1-6-5-4. Il faut détruire le fragment de chaque plateforme.
          <div class="uk-flex uk-flex-column uk-flex-middle uk-flex-center">
            <img src="assets/strats/xera/shard.jpg">
            <p class="acknowledge">Merci à
              <a class="acknowledge" href="http://dulfy.net/2016/06/15/gw2-xera-raid-boss-guide/">Dulfy</a> pour l'image.
            </p>
          </div>
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Ligne de force - </span> Les lignes de force reliant les plateformes peuvent être foireuses. Ne pas tomber.
          <div class="uk-flex uk-flex-column uk-flex-middle uk-flex-center">
            <img src="assets/strats/xera/line.jpg">
            <p class="acknowledge">Merci à
              <a class="acknowledge" href="http://dulfy.net/2016/06/15/gw2-xera-raid-boss-guide/">Dulfy</a> pour l'image.
            </p>
          </div>
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Le boss - </span> Les plateformes sont régulièrement bombardées par le boss. Augmente les stacks de debuff.
          <div class="uk-flex uk-flex-column uk-flex-middle uk-flex-center">
            <img src="assets/strats/xera/attack.jpg">
            <p class="acknowledge">Merci à
              <a class="acknowledge" href="http://dulfy.net/2016/06/15/gw2-xera-raid-boss-guide/">Dulfy</a> pour l'image.
            </p>
          </div>
        </li>
      </ul>
    </div>
    <div class='uk-margin-left uk-margin-right'>
      <ul class="uk-list uk-list-divider">
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Pierres de sang - </span> Dans le sens contraire des aiguilles d'une montre, des fragments vont apparaitre autour
          de l'arène. Les zones des pierres se chevauchent, donnent un stack de debuff par seconde et buff sévèrement le
          boss. Un fragment apparaît toutes les 10 secondes.
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Breakbar - </span> Le boss lève son épée en l'air. Pendant sa breakbar les fragments apparaissent plus rapidement.
          Toutes les 60 secondes.
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>AoE - </span> Toutes les 30 secondes une moitié de l'arène va s'allumer, cette zone corrompt les avantages.
          <div class="uk-flex uk-flex-column uk-flex-middle uk-flex-center">
            <img src="assets/strats/xera/xerap2.jpg">
            <p class="acknowledge">Merci à
              <a class="acknowledge" href="http://dulfy.net/2016/06/15/gw2-xera-raid-boss-guide/">Dulfy</a> pour l'image.
            </p>
          </div>
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Deadly Attack- </span> Un joueur est choisi au hasard pour poser une bulle de protection sur le raid, attendre
          3 à 5 secondes avant de le lancer. Si la bulle n'est pas mise ou si elle est mise trop tôt, c'est le wipe.
        </li>
      </ul>
    </div>
    <div class='uk-margin-left uk-margin-right'>
      <ul class="uk-list uk-list-divider">
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Premier TP - </span> A 40% du boss, même mécanique que la platforme 2/6 du pré-event.
          <div class="uk-flex uk-flex-column uk-flex-middle uk-flex-center">
            <img src="assets/strats/xera/26.jpg">
            <p class="acknowledge">Merci à
              <a class="acknowledge" href="http://dulfy.net/2016/06/15/gw2-xera-raid-boss-guide/">Dulfy</a> pour l'image.
            </p>
          </div>
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Second TP - </span> A 20% du boss, même mécanique que la platforme 3/5 du pré-event.
          <div class="uk-flex uk-flex-column uk-flex-middle uk-flex-center">
            <img src="assets/strats/xera/35.jpg">
            <p class="acknowledge">Merci à
              <a class="acknowledge" href="http://dulfy.net/2016/06/15/gw2-xera-raid-boss-guide/">Dulfy</a> pour l'image.
            </p>
          </div>
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Portail - </span> Un portail peut faire revenir tout de suite un unique joueur (par exemple si deux druides se
          font téléporter).
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Le boss - </span> Le boss lance "Deadly Attack" un peu après chaque téléportation. Pas de breakbar tant que les
          autres ne sont pas revenus.
        </li>

      </ul>
    </div>
    <div class='uk-margin-left uk-margin-right'>
      <ul class="uk-list uk-list-divider">
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Tanking - </span>
          <div class="uk-flex uk-flex-column uk-flex-middle uk-flex-center">
            <img src="assets/strats/xera/xerapattern.png">
            <p class="acknowledge">Merci à
              <a class="acknowledge" href="https://discord.gg/nZg52r3">The Crossroads Inn</a> pour l'image.</p>
          </div>
        </li>
      </ul>
    </div>
    <div class='uk-margin-left uk-margin-right'>
      <ul class="uk-list uk-list-divider">
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Le chateau - </span>
          <div class="uk-flex uk-flex-column uk-flex-middle uk-flex-center">
            <img src="assets/strats/xera/twisted.jpg">
            <p class="acknowledge">Merci à
              <a class="acknowledge" href="https://wiki.guildwars2.com/wiki/Stronghold_of_the_Faithful">Gw2 Wiki</a> pour l'image.</p>
          </div>
        </li>
      </ul>
    </div>
  </ul>
</div>