<div class='uk-margin-large-top uk-flex uk-flex-middle uk-flex-column'>
  <ul class="uk-subnav uk-subnav-pill uk-subnav-divider my-subnav" uk-switcher="connect: .switcher-container">
    <div>
      <a href="#">Mécaniques de base</a>
    </div>
  </ul>

</div>
<div class='uk-margin-left uk-margin-right'>
  <ul class="uk-switcher uk-margin switcher-container uk-flex uk-flex-center">
    <div class='uk-margin-left uk-margin-right'>
      <ul class="uk-list uk-list-divider">
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Tank - </span> Le boss vise le joueur avec le plus de robustesse.
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>DPS - </span> Il faut maintenir le dps autour de 60k pour pouvoir gérer correctement les zones vertes.
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Tear Drops - </span> Zone verte, un joueur doit se placer dessus sinon c'est le wipe. La vitesse d'apparition dépend
          du dps du groupe. Le boss restera bloqué à 1% de sa vie tant que des zones vertes sont actives. La zone verte donne
          un stack de debuff de courte durée. Si un joueur a 4 stacks, ce dernier est gelé et va sûrement mourir.
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Attaque frontale - </span> Attaque en direction du tank sur un cône. Courte portée.
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Attaque AoE - </span> Le boss crée des failles autour de lui qui provoque des dégats catastrophiques aux joueurs
          passant dessus.
        </li>
      </ul>
    </div>
  </ul>
</div>