/* W3 stuff
https://www.w3schools.com/w3css/4/w3.css
*/
.w3-btn,.w3-button{border:none;display:inline-block;outline:0;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.w3-btn,.w3-button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}   
.w3-disabled,.w3-btn:disabled,.w3-button:disabled{cursor:not-allowed;opacity:0.3}.w3-disabled *,:disabled *{pointer-events:none}
.w3-dropdown-hover:hover > .w3-button:first-child,.w3-dropdown-click:hover > .w3-button:first-child{background-color:#ccc;color:#000}
.w3-bar-block .w3-dropdown-hover .w3-button,.w3-bar-block .w3-dropdown-click .w3-button{width:100%;text-align:left;padding:8px 16px}
.w3-bar .w3-bar-item{padding:8px 16px;float:left;width:auto;border:none;outline:none;display:block}
.w3-bar .w3-button{white-space:normal}
.w3-bar-block .w3-bar-item{width:100%;display:block;padding:8px 16px;text-align:left;border:none;outline:none;white-space:normal;float:none}
.w3-bar-block.w3-center .w3-bar-item{text-align:center}.w3-block{display:block;width:100%}
.w3-hide-small{display:none!important}.w3-mobile{display:block;width:100%!important}.w3-bar-item.w3-mobile,.w3-dropdown-hover.w3-mobile,.w3-dropdown-click.w3-mobile{text-align:center}
.w3-dropdown-hover.w3-mobile,.w3-dropdown-hover.w3-mobile .w3-btn,.w3-dropdown-hover.w3-mobile .w3-button,.w3-dropdown-click.w3-mobile,.w3-dropdown-click.w3-mobile .w3-btn,.w3-dropdown-click.w3-mobile .w3-button{width:100%}}
@media (hover: hover) {
    .w3-button:hover{color:#000!important;background-color:#ccc!important}
}
.w3-button:active{color:#000!important;background-color:#ccc!important}
/* Colors */
.w3-red,.w3-hover-red:hover{color:#fff!important;background-color:#f44336!important}

/**/

body {
    width: 35%;
    min-width: 600px;
}

div[build] {
    display: none;
    font-size: 1.4em;
    border: 5px solid rgba(0, 0, 0, 0.8);
}
div[char] {
    font-size: 1.5em;
    font-weight: bold;
    border: 5px solid rgba(0, 0, 0, 0.8);
}

div.t1 {
    border: 5px solid rgba(0, 0, 0, 1.0);
}
div.t2 {
    border: 5px solid rgba(0, 0, 0, 1.0);
}

/* position & stuff */
div[center] {
    text-align: center;
}
div[bold] {
    font-weight: bold;
}

img{
    zoom: 1.5;
}

img[small] {
    height: auto;
    width: auto;
    max-width: 120px;
    max-height: 120px;
    display: inline-block;
}


/* boxes */

div[traitBox] {
    display: flex;
    min-width: 500px;    
    flex-direction: column;
}

div[skillBox] {
    display: flex;
    flex-direction: column;
    text-align: center;
}

div[equipementBox] {
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

div[armorTitle] {
    
    display: inline-flex;
    width: 30%;
    flex-direction: column;
    align-items: center;
}
div[armorBox] {
    width: 80%;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}

div[wepTrinketTitle] {
    display: inline-flex;
    width: 70%;
    flex-direction: column;
    align-items: center;
}

div[wepsBox] {
    display: inline-flex;
    width: 80%;
    flex-direction: row;
    align-items: center;
}

div[wepBox2] {
    display: inline-flex;
    width: 40%;
    flex-direction: row;
    padding-left: 20%;
}

div[wepBox1] {
    width: 40%;
    display: inline-flex;
    flex-direction: row;
}

div[trinketBox] {
    display: inline-flex;
    width: 65%;
    align-items: center;
    flex-direction: column;
}

button {
    font-size: 1.2em;
}




@media only screen and (max-device-width: 750px) {
    body {
        width: 100%;
    }

    div[trait]{
        zoom: 1.7;
    }

    button {
        font-size: 2.7em;
    }

    img{
        zoom: 2.0;
    }

    li {
        width: 100%;
        padding-left: 0%;
        padding-right: 0%;
        border: 2px solid rgba(50, 50, 50, 0.5);
        list-style-type: none;
    }

    div[build] {
        font-size: 2.5em;
    }

    div[char] {
        font-size: 2.5em;;
    }

    div[class^="gw2a--17V11"] {
        font-size: 1.05em;
    }
    span[class^="gw2a--1qoBZ"] {
        font-size: 1.0em;
    }
    div[class^="gw2a--35pJR"] {
        font-size: 1.0em;
    }

    div[equipementBox] {
        padding-left: 0%;
        padding-right: 0%;
    }
}

@media only screen and (max-device-width: 450px) {
    button {
        font-size: 2.9em;
    }

    div[build] {
        font-size: 2.7em;
    }

    div[char] {
        font-size: 2.7em;;
    }

    div[class^="gw2a--17V11"] {
        font-size: 1.6em;
    }

    div[class^="gw2a--35pJR"] {
        font-size: 1.3em;
    }

    span[class^="gw2a--1qoBZ"] {
        font-size: 1.3em;
    }
}