

table,
table caption {
    margin: auto;
}

table {
    border: #000000 3px solid;
    border-spacing: 0px;
    width: 80%;
    min-width: 500px;
}

table caption {
    background-color: #DDEEFF;
    font-size: 1.2em;
}

table thead {
    color: #996600;
    background-color: #FFCC66;
    border: #FFCC66 2px solid;
    font-size: 1.5em;
    letter-spacing: 1px;
}

table tbody {
    background-color: #BBBBBB;
    border: #BBBBBB 2px solid;
    letter-spacing: 1px;
}

table td {
    border: #000000 1px solid;
    font-size: 1.8em;
}

table tfoot {
    font-size: 0.7em;
    background-color: #FFCC66;
    color: #996600;
    letter-spacing: 1px;
}

@media only screen and (max-device-width: 750px) {
    table {
        width: 100%;
        min-width: 0px;
    }

    table thead {
        font-size: 1.0em;
    }
}