<div class='uk-margin-large-top uk-flex uk-flex-middle uk-flex-column'>
  <ul class="uk-subnav uk-subnav-pill uk-subnav-divider my-subnav" uk-switcher="connect: .switcher-container">
    <div>
      <a href="#">Mécaniques de l'arène</a>
    </div>
    <div>
      <a href="#">Mécaniques de base</a>
    </div>
    <div>
      <a href="#">Split</a>
    </div>
  </ul>

</div>
<div class='uk-margin-left uk-margin-right'>
  <ul class="uk-switcher uk-margin switcher-container uk-flex uk-flex-center">
    <div class='uk-margin-left uk-margin-right'>
      <ul class="uk-list uk-list-divider">
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Les bombes - </span>
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Les lances - </span>
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Les pics - </span>
        </li>
      </ul>
    </div>
    <div class='uk-margin-left uk-margin-right'>
      <ul class="uk-list uk-list-divider">
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Phase - </span> Le boss phase à 66% et 33%.
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Fixation - </span>
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Onde de Choc - </span>
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Swing - </span>
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Smash - </span>
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Breakbar - </span> Tous les 10%.
        </li>
      </ul>
    </div>
    <div class='uk-margin-left uk-margin-right'>
      <ul class="uk-list uk-list-divider">
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Jotun - </span>
        </li>
        <li>
          <span class='uk-text-uppercase uk-text-bold'>Humain - </span>
        </li>
      </ul>
    </div>
  </ul>
</div>